<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Canonical - Locations</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map-canvas {
        height: 100vh;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <section class="p-strip u-no-margin--top u-no-padding--top u-no-margin--bottom u-no-padding--bottom">
      <div id="map-canvas"></div>
    </div>
    </section>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC35oed1OKOATAdzQ9VtpdE1ZeNgjVsSKE"></script>
    <script>
    function initialize() {
      var starting = new google.maps.LatLng(40, 0);
      var mapOptions = {
        zoom: 3,
        scrollwheel: false,
        center: starting
      }
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      var londonInfo = new google.maps.InfoWindow({
        content: '<h2>London, United Kingdom</h2>' +
        '<p>Canonical Group Limited <br />' +
        '5th Floor, Blue Fin Building <br />' +
        '110 Southwark Street <br />' +
        'London SE1 0SU<br />United Kingdom</p>'
      });
      var austinInfo = new google.maps.InfoWindow({
        content: '<h2>Austin, USA</h2>' +
        '<p>Canonical USA Inc. <br />' +
        'Link Flex <br />' +
        '2301 W Anderson Ln <br />' +
        'Austin, TX 78757<br />USA</p>'
      });
      var bostonInfo = new google.maps.InfoWindow({
        content: '<h2>Boston, United States</h2>' +
        '<p>Canonical USA Inc. <br />' +
        'Suite 212 Lexington Corporate Center <br />' +
        '10 Maguire Road <br />' +
        'Lexington, MA 02421 <br />' +
        'United States of America</p>'
      });
      var shanghaiInfo = new google.maps.InfoWindow({
        content: '<h2>Shanghai, China</h2>' +
        '<p>Room 1246, 12F <br />' +
        'No. 331 North Caoxi Road <br />' +
        'Shanghai 200031 <br />' +
        'China <br />' +
        '上海市漕溪北路331号12楼1246室 200231</p>'
      });
      var beijingInfo = new google.maps.InfoWindow({
        content: '<h2>Beijing, China</h2>' +
        '<p>Unit 1118-19, Level 11, China World Office 1<br />' +
        '1 Jianguomenwai Avenue, Chaoyang District<br />' +
        'Beijing P.R.C. 100004 <br />' +
        'China <br />' +
        '北京市朝阳区建国门外大街1号国贸写字楼1座11层1118-19室 100004</p>'
      });
      var taipeiInfo = new google.maps.InfoWindow({
        content: '<h2>Taipei, Taiwan</h2>' +
        '<p>Canonical Limited Taiwan Branch <br />' +
          'Room D, 46F,  <br />' +
          'No. 7, Xin Yi Rd., Sec.5, <br />' +
          'Taipei 101  <br />' +
          'Taiwan</p>'
        });
        var iomInfo = new google.maps.InfoWindow({
          content: '<h2>Isle of Man</h2>' +
          '<p>Canonical Limited  <br />' +
            'One Circular Road  <br />' +
            'Douglas  <br />' +
            'Isle of Man  <br />' +
            'IM1 1SB</p>'
          });
          var japanInfo = new google.maps.InfoWindow({
            content: '<h2>Tokyo, Japan</h2>' +
            '<p>Canonical Limited  <br />' +
              '3rd Floor, Sanno Park Tower  <br />' +
              '2-11-1 Nagata-cho  <br />' +
              'Chiyoda-ku  <br />' +
              'Tokyo 100-6162 <br />' +
              'Japan </p>'
            });
            var london = new google.maps.Marker({
              position: new google.maps.LatLng(51.506312, -0.099871),
              map: map,
              title: "London, United Kingdom"
            });
            var austin = new google.maps.Marker({
              position: new google.maps.LatLng(30.3074624, -98.0335911),
              map: map,
              title: "Austin, United States"
            });
            var boston = new google.maps.Marker({
              position: new google.maps.LatLng(42.428691, -71.228023),
              map: map,
              title: "Boston, United States"
            });
            var shanghai = new google.maps.Marker({
              position: new google.maps.LatLng(31.1747322, 121.4351965),
              map: map,
              title: "Shanghai, China"
            });
            var beijing = new google.maps.Marker({
              position: new google.maps.LatLng(39.909511,116.4559833),
              map: map,
              title: "Beijing, China"
            });
            var taipei = new google.maps.Marker({
              position: new google.maps.LatLng(25.091075, 121.559834),
              map: map,
              title: "Taipei, Taiwan"
            });
            var iom = new google.maps.Marker({
              position: new google.maps.LatLng(54.15272, -4.487221),
              map: map,
              title: "Isle of Man"
            });
            var japan = new google.maps.Marker({
              position: new google.maps.LatLng(35.6472046, 139.758064),
              map: map,
              title: "Japan"
            });

            google.maps.event.addListener(london, 'click', function() {
              austinInfo.close();
              bostonInfo.close();
              shanghaiInfo.close();
              beijingInfo.close();
              taipeiInfo.close();
              iomInfo.close();
              japanInfo.close();
              londonInfo.open(map, london);
            });
            google.maps.event.addListener(boston, 'click', function() {
              austinInfo.close();
              londonInfo.close();
              shanghaiInfo.close();
              beijingInfo.close();
              taipeiInfo.close();
              iomInfo.close();
              japanInfo.close();
              bostonInfo.open(map, boston);
            });
            google.maps.event.addListener(austin, 'click', function() {
              bostonInfo.close();
              londonInfo.close();
              shanghaiInfo.close();
              beijingInfo.close();
              taipeiInfo.close();
              iomInfo.close();
              japanInfo.close();
              austinInfo.open(map, austin);
            });
            google.maps.event.addListener(shanghai, 'click', function() {
              austinInfo.close();
              bostonInfo.close();
              londonInfo.close();
              beijingInfo.close();
              taipeiInfo.close();
              iomInfo.close();
              japanInfo.close();
              shanghaiInfo.open(map, shanghai);
            });
            google.maps.event.addListener(beijing, 'click', function() {
              austinInfo.close();
              bostonInfo.close();
              shanghaiInfo.close();
              londonInfo.close();
              taipeiInfo.close();
              iomInfo.close();
              japanInfo.close();
              beijingInfo.open(map, beijing);
            });
            google.maps.event.addListener(taipei, 'click', function() {
              austinInfo.close();
              bostonInfo.close();
              shanghaiInfo.close();
              beijingInfo.close();
              londonInfo.close();
              iomInfo.close();
              japanInfo.close();
              taipeiInfo.open(map, taipei);
            });
            google.maps.event.addListener(iom, 'click', function() {
              austinInfo.close();
              bostonInfo.close();
              shanghaiInfo.close();
              beijingInfo.close();
              taipeiInfo.close();
              londonInfo.close();
              japanInfo.close();
              iomInfo.open(map, iom);
            });
            google.maps.event.addListener(japan, 'click', function() {
              austinInfo.close();
              bostonInfo.close();
              shanghaiInfo.close();
              beijingInfo.close();
              taipeiInfo.close();
              londonInfo.close();
              iomInfo.close();
              japanInfo.open(map, japan);
            });
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
  </body>
</html>