///Overrides to give a passable experience in IE8 - essentially JS-free mobile view with large-screen navigation
.lt-ie9 {
  * { zoom: 1; }

  #nav-global {
    display: none;
  }

  header.banner {
    .nav-primary.nav-right .logo a {
      background-image: url('https://assets.ubuntu.com/v1/26c0bab6-canonical-logo.png');
      background-size: cover;
    }
  }

  .banner {
    box-shadow: none;

    .nav-primary {
      width: $site-max-width;

      ul {
        position: static;
        display: block;
        width: auto;
        border-top: 0;
        background-color: $transparent;
        box-shadow: none;

        li {
          width: auto;
          border-right: 0;
          border-bottom: 0;
          border-left: 1px solid darken($brand-color, 8%);

          &:last-child {
            border-right: 1px solid darken($brand-color, 8%);

            a {
              border-right: 0;
            }
          }

          a,
          a:link,
          a:visited {
            font-size: .875em;
            padding: 14px 14px 13px;
            text-align: center;
            border-left: 1px solid lighten($brand-color, 12%);
            background-color: $transparent;
            color: $header-link-color;

            &:hover {
              background-color: lighten($brand-color, 8%);
            }

            &.active {
              background-color: darken($brand-color, 8%);
              border-left: 0;
            }
          }
        }
      }
    }

    .nav-toggle {
        display: none;
    }
  }

  .nav-primary ul {
    display: block;
    border-left: 1px solid $header-dark-border;
    border-right: 1px solid $header-light-border;
    display: block;
    width: auto;

    li {
      border-left: 0;
      border-right: 0;
      width: auto;

      &:last-child {
        border-right: 0;
      }

      a,
      a:link,
      a:visited {
        border-left: 1px solid $header-light-border;
        border-right: 1px solid $header-dark-border;
      }

      a:hover {
        background-color: $header-dark-border;
        border-right: 1px solid transparent;
      }
    }
  }

  &.yui3-js-enabled .tabbed-content div,
  .hide {
    display: block;
    opacity: 1;
  }
}
