{% if items is False %}
  <li class="p-list__item">
    <p>Feed failed to load. If you have time, please <a href="https://github.com/canonical-websites/www.canonical.com/issues/new">file an issue</a>.</p>
  </li>
{% else %}
  {% for item in items %}
  <li class="p-list__item">
    <a href="{{ item.link | replace_admin }}">{{ item.title.rendered | safe }}</a><br />
    <small>
      {% if item.type == "resource" %}
        {{ item.category }}
      {% else %}
      <time pubdate datetime="{{ item.updated_datetime | date:'c' }}">
        {{ item.date | format_date }}
      </time>
      {% endif %}
    </small><br />
  </li>
  {% endfor %}
{% endif %}
