<section class="p-strip">
  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <h2>Canonical</h2>
      <ul class="p-list">
        <li><a href="/products">Products &rsaquo;</a></li>
        <li><a href="/services">Services &rsaquo;</a></li>
        <li><a href="/partners">Partners &rsaquo;</a></li>
        <li><a href="/about">About &rsaquo;</a></li>
        <li><a href="https://insights.ubuntu.com">Careers &rsaquo;</a></li>
      </ul>
    </div>
    <div class="col-4 p-divider__block">
      <h2>Follow Us</h2>
      <ul class="p-list">
        <li><a href="https://twitter.com/Canonical">Twitter</a></li>
        <li><a href="https://plus.google.com/116469902245452284818/posts">Google+</a></li>
        <li><a href="https://www.facebook.com/pages/Canonical/125818784107695?fref=ts">Facebook</a></li>
        <li><a href="https://blog.canonical.com/">Blog</a></li>
      </ul>
    </div>
    <div class="col-4 p-divider__block">
      <h2>Find out more</h2>
      <ul class="p-list">
        <li><a href="https://www.ubuntu.com" class="p-link--external">Ubuntu</a></li>
        <li><a href="https://www.ubuntu.com/management/ubuntu-advantage" class="p-link--external">Ubuntu Advantage</a></li>
        <li><a href="https://www.ubuntu.com/partners" class="p-link--external">Partnerships</a></li>
        <li><a href="https://insights.ubuntu.com" class="p-link--external">Press and resources</a></li>
      </ul>
    </div>
  </div>
</section>