<section class="p-strip">
  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <h4 class="p-muted-heading">Canonical</h4>
      <ul class="p-list">
        <li><a class="p-link--soft" href="/products">Products</a></li>
        <li><a class="p-link--soft" href="/services">Services</a></li>
        <li><a class="p-link--soft" href="/partners">Partners</a></li>
        <li><a class="p-link--soft" href="/about">About</a></li>
        <li><a class="p-link--soft" href="/careers">Careers</a></li>
      </ul>
    </div>
    <div class="col-4 p-divider__block">
      <h4 class="p-muted-heading">Follow Us</h4>
      <ul class="p-list">
        <li><a href="https://twitter.com/Canonical" class="p-link--external">Twitter</a></li>
        <li><a href="https://plus.google.com/116469902245452284818/posts" class="p-link--external">Google+</a></li>
        <li><a href="https://www.facebook.com/pages/Canonical/125818784107695?fref=ts" class="p-link--external">Facebook</a></li>
        <li><a href="https://blog.canonical.com/" class="p-link--external">Blog</a></li>
      </ul>
    </div>
    <div class="col-4 p-divider__block">
      <h4 class="p-muted-heading">Find out more</h4>
      <ul class="p-list">
        <li><a href="https://www.ubuntu.com" class="p-link--external">Ubuntu</a></li>
        <li><a href="https://www.ubuntu.com/support" class="p-link--external">Ubuntu Advantage</a></li>
        <li><a href="https://partners.ubuntu.com" class="p-link--external">Partnerships</a></li>
        <li><a href="https://insights.ubuntu.com/press-centre/" class="p-link--external">Press and resources</a></li>
      </ul>
    </div>
  </div>
</section>