{% if vacancies %}
  <p>We currently have {{ vacancies | length }} {{ job_type }} vacancies:</p>
{% else %}
  <p class="u-no-margin--bottom">Sorry, we currently have no {{ job_type }} vacancies.</p>
{% endif %}

{% if vacancies %}
  <ul class="p-list--divided">
    {% if limit %}
      {% for job in vacancies|slice:limit %}
        <li class="p-list__item"><a href="{{ job.link }}">{{ job.title }}&nbsp;&rsaquo;</a></li>
      {% endfor %}
    {% else %}
      {% for job in vacancies %}
        <li class="p-list__item"><a href="{{ job.link }}">{{ job.title }}&nbsp;&rsaquo;</a></li>
      {% endfor %}
    {% endif %}
  </ul>
{% endif %}
