canonicalwebteam.versioned-static==1.0.2
canonicalwebteam.get-feeds==0.2.4
Django==1.11.26
whitenoise==4.1.4
django-template-finder-view==0.3
django-json-redirects==0.3
django-static-root-finder==0.3.1
django-asset-server-url==0.1
feedparser==5.2.1
requests-cache==0.5.2
python-dateutil==2.8.1
talisker[gunicorn]==0.15.0
