cachecontrol==0.12.5
canonicalwebteam.versioned-static==1.0.2
canonicalwebteam.get-feeds==0.2.4
lockfile==0.12.2
Django==1.11.20
whitenoise==4.1.2
django-template-finder-view==0.3
django-json-redirects==0.3
django-static-root-finder==0.3.1
django-asset-server-url==0.1
feedparser==5.2.1
requests-cache==0.4.13
python-dateutil==2.8.0
statsd==3.3.0
prometheus_client==0.6.0
talisker==0.13.0
gunicorn[gevent]
