{% extends "careers/base_careers.html" %}

{% block title %}Canonical | Careers{% endblock %}
{% block meta_description %}For anyone interested in open source software and Ubuntu in particular, Canonical is an incredible place to work. Whether you’re a technologist, a designer or a business professional, opportunities exist to work from home or at one of our five key offices around the world. {% endblock %}
{% block head_extra %}
  <script src="{{ ASSET_SERVER_URL }}5d7e5bbf-jquery-2.2.0.min.js"></script>
  <script src="{{ ASSET_SERVER_URL }}c954db4a-jfeed_prm.js"></script>
{% endblock %}

{% block content %}
<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h1>All current vacancies</h1>
      {% if jobs is False %}
        <p class="u-no-margin--bottom">Feed failed to load. If you have time, please <a href="https://github.com/canonical-websites/www.canonical.com/issues/new">file an issue</a>.</p>
      {% else %}
        <p>
          {% if jobs.items %}
            We currently have {{ job_count }} vacancies:
          {% else %}
            Sorry, we currently have no {{ job_type }} vacancies.
          {% endif %}
        </p>
      </div>
      <div class="col-4">
        <img src="{{ ASSET_SERVER_URL }}5099cfac-image-footer-search.svg" alt="">
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row">
      <div class="col-8">
        {% for department, department_jobs in jobs.items %}
          <h2 class="p-heading--three p-link--external"><span style="color: #111111;">{{ department }}</span></h2>
          <ul class="p-list--divided">
            {% for job in department_jobs %}
              <li class="p-list__item">
                <a
                target="_blank"
                href="{{ job.url }}">{{ job.title }}  - <em>{{ job.location.name }}</em>&nbsp;&rsaquo;</a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>


{% endblock content %}

{% block footer_extra %}
{% endblock footer_extra %}
