{% extends "careers/base_careers.html" %}

{% block title %}Canonical | Careers{% endblock %}
{% block meta_description %}For anyone interested in open source software and Ubuntu in particular, Canonical is an incredible place to work. Whether you’re a technologist, a designer or a business professional, opportunities exist to work from home or at one of our five key offices around the world. {% endblock %}
{% block head_extra %}
{% endblock %}

{% block content %}
<section class="p-strip--accent is-dark">
  <div class="row">
    <div class="col-8">
      <h1>All current vacancies</h1>
      {% if jobs %}
        <p>
          {% if jobs.items %}
            We currently have {{ job_count }} vacancies.
          {% else %}
            Sorry, we currently have no {{ job_type }} vacancies.
          {% endif %}
        </p>
        {% endif %}
      </div>
      <div class="col-4">
        <img src="{{ ASSET_SERVER_URL }}5099cfac-image-footer-search.svg" alt="">
      </div>
    </div>
  </section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      {% if jobs is False %}
        <div class="p-notification--negative">
          <p class="p-notification__response">
            <span class="p-notification__status">Error:</span>Feed failed to load. If you have time, please <a href="https://github.com/canonical-websites/www.canonical.com/issues/new">file an issue</a>.
          </p>
        </div>
      {% else %}
        {% for department, department_jobs in jobs.items %}
          <h2 class="p-heading--four p-link--external"><span style="color: #111111;">{{ department }}</span></h2>
          <ul class="p-list--divided" style="margin-top: 1rem;">
            {% for job in department_jobs %}
              <li class="p-list__item">
                <a
                target="_blank"
                href="{{ job.url }}">{{ job.title }}  - <em>{{ job.location.name }}</em>&nbsp;&rsaquo;</a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>


{% endblock content %}

{% block footer_extra %}
{% endblock footer_extra %}
