{% extends "careers/base_careers.html" %}

{% block title %}Canonical | Careers | Go vacancies{% endblock %}
{% block meta_description %}Current vacancies for Go experts to work in our cloud development teams, primarily on Juju, Ubuntu’s revolutionary service deployment and orchestration tool.{% endblock %}

{% block content %}
<div class="row row-hero">
    <div class="inner-wrapper">
        <div class="col-6">
            <h1>All Go vacancies</h1>
            <p>The Juju Engineering Team is responsible for turning our service orchestration strategy into reality &mdash; and we need more great Go engineers. These roles involve more than just coding, however. We need people who can solve complex problems, collaborate with a global community and work directly with our biggest clients. </p>
            <p><a href="https://demo.jujucharms.com" class="external">Try our GUI-based demo</a></p>
            <p><a href="https://jujucharms.com/about" class="external">Learn more about Juju</a></p>
            <p><a href="https://code.launchpad.net/juju-core" class="external">Check out the code</a></p>
        </div>
        <div class="push-one col-5">
            <img src="{{ ASSET_SERVER_URL }}e930b8ae-image-govacancies.svg" alt="Golang Gopher">
        </div>
    </div>
</div>

<div class="row strip strip-light">
    <div class="inner-wrapper">
        <div class="four-col profile">
            <img class="portrait" itemprop="image" src="{{ ASSET_SERVER_URL }}87807b55-image-dimiter.png" alt="Dimiter">
            <ul class="personal-info">
                <li class="name" itemprop="name">Dimiter</li>
                <li class="role" itemprop="jobTitle">Software Engineer &dash; Juju Core</li>
                <li class="location">Bulgaria</li>
            </ul>
        </div>
        <div class="col-6">
            <blockquote class="pull-quote">
                <p><span>“</span>One of the best things about Gophercon was hearing people ask about Juju. It must be the biggest Go&dash;based product outside Google.<span>”</span></p>
            </blockquote>
            <p class="question">What is your greatest accomplishment at Canonical?</p>
            <p>Definitely my work on Juju &mdash; it&rsquo;s the reason I learned Go. I worked on the library that talks to the OpenStack API, Goose (Go OpenStack Exchange), to help implement OpenStack as a provider in Juju.</p>
        </div>
    </div>
</div>

<div class="strip row">
    <div class="inner-wrapper">
        <div class="col-8">
            <ul class="vacancies list with-total" id="job-feed">
                {% get_rss_feed "http://ldd.tbe.taleo.net/ldd03/ats/servlet/Rss?org=CANONICAL&cws=1&_rss_version=2&CUSTOM_1123=1372" as vacancies %}
                {% include "_includes/vacancies.html" with vacancies=vacancies %}
            </ul>
        </div>
    </div>
</div>

{% include "careers/vacancies_contextual_footer.html" %}

{% endblock content %}
