{% extends "careers/base_careers.html" %}

{% block title %}Canonical | Careers{% endblock %}
{% block meta_description %}For anyone interested in open source software and Ubuntu in particular, Canonical is an incredible place to work. Whether you’re a technologist, a designer or a business professional, opportunities exist to work from home or at one of our five key offices around the world. {% endblock %}
{% block head_extra %}
  <script src="{{ ASSET_SERVER_URL }}5d7e5bbf-jquery-2.2.0.min.js"></script>
  <script src="{{ ASSET_SERVER_URL }}c954db4a-jfeed_prm.js"></script>
{% endblock %}

{% block content %}

<section class="p-strip--light is-deep">
  <div class="row">
    <div class="col-6">
      <h1>If you want to make a difference, make the move to Canonical.</h1>
      <p>Life at Canonical is anything but corporate. As a company that exists to support one of today&rsquo;s most important open source projects, we are changing the world on a daily basis. It&rsquo;s a collaborative environment, but one in which every member of the team takes personal responsibility for everything they&nbsp;produce.</p>
      <p><a class="see-all" href="/careers/all-vacancies">See all vacancies &rsaquo;</a></p>
    </div>
    <div class="col-6 prefix-1">
      <img src="{{ ASSET_SERVER_URL }}9e17b0a1-hero-careers-medium.png" alt="" />
    </div>
  </div>
</section>

<section class="p-strip--accent">
  <div class="row">
    <div class="col-12">
      <h2>Reasons to join us at Canonical</h2>
    </div>
  </div>
  <div class="row">
    <ul class="p-list">
    <li class="col-3">
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="{{ ASSET_SERVER_URL }}80a8e84c-icon-flash.svg" alt="">
          <h3 class="p-heading-icon__title">A culture of continuous innovation</h3>
        </div>
        <p>At Canonical, you&rsquo;ll be expected to innovate and solve problems every day. It can be challenging, but you&rsquo;ll never be&nbsp;bored!</p>
      </div>
    </li>
    <li class="col-3">

      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="{{ ASSET_SERVER_URL }}3b4299d0-icon-colleagues.svg" alt="">
          <h3 class="p-heading-icon__title">Inspirational colleagues</h3>
        </div>
        <p>We go to great lengths to hire the right people, so you can expect to work with incredibly bright, experienced designers, engineers, researchers and marketing experts from day&nbsp;one.</p>
      </div>
    </li>
    <li class="col-3">

      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="{{ ASSET_SERVER_URL }}0fdeb634-icon-tick.svg">
          <h3 class="p-heading-icon__title">Projects that really matter</h3>
        </div>
        <p>Everything we do is engineered precisely and with pride. When the world&rsquo;s businesses and governments depend on your software, there’s no cutting&nbsp;corners.</p>
      </div>
    </li>
    <li class="col-3">
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/a4d31b28-icon-quote.svg">
          <h3 class="p-heading-icon__title">The chance to change the world</h3>
        </div>
        <p>Everything you do at Canonical has the potential to improve millions of people&rsquo;s lives and have a real impact in the&nbsp;world.</p>
      </div>
    </li>
  </ul>
  </div>
</section>

<section class="p-strip--light is-deep is-bordered">
  <div class="row">
    <div class="col-12">
      <h2>Join one of our teams</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="tabbed-menu">
        <ul class="p-list">
          <li><a class="is-active" href="#design-and-user-experience">Design and User Experience</a></li>
          <li><a href="#technical-and-engineering">Technical and Engineering</a></li>
          <li><a href="#marketing-and-business-development">Marketing and Business Development</a></li>
          <li><a href="#operations">Operations</a></li>
          <li><a href="#professional-services">Professional Services</a></li>
        </ul>
      </div>
      <hr />
      <ul class="p-list u-hide--small">
        <li><a href="/careers/all-vacancies">See all vacancies &rsaquo;</a></li>
        <li><a class="p-link--external" href="https://ldd.tbe.taleo.net/ldd03/ats/careers/jobSearch.jsp?org=CANONICAL&amp;cws=1&amp;rid=86">Search for jobs &rsaquo;</a></li>
      </ul>
    </div>
    <div class="col-9 tabbed-content p-card" id="design-and-user-experience">
      <div class="row">
        <div class="col-9">
          <h3>Design and User Experience</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-5 suffix-1">
        <p>There are few organisations in the world where interface designers, graphic designers and user experience professionals come together on such a fascinating array of projects. From our office in London, this team creates the look, feel and interaction models for technologies as diverse as the Juju service orchestration tool and the Ubuntu Touch mobile interface. </p>
      </div>
        <div class="col-4">
          <h4 class="p-heading--five">Latest vacancies &mdash; <a href="/careers/all-design-and-user-experience-vacancies">View all&nbsp;&rsaquo;</a></h4>
          {% get_rss_feed "http://ldd.tbe.taleo.net/ldd03/ats/servlet/Rss?org=CANONICAL&cws=1&_rss_version=2&CUSTOM_755=610" as design_vacancies %} {% include "_includes/vacancies.html" with vacancies=design_vacancies job_type="design" limit="5" %}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-3">
          <img class="portrait" itemprop="image" src="{{ ASSET_SERVER_URL }}acbdf79d-portrait-rosie.png" alt="">
          <ul class="p-list">
            <li class="name" itemprop="name">Xi Zhu</li>
            <li class="role" itemprop="jobTitle">Visual Designer</li>
            <li class="location">London</li>
          </ul>
        </div>
        <div class="col-6">
          <blockquote class="p-pull-quote">
            <p>I enjoy the sprints because it gives me a chance to work closely with people from all around the world</p>
          </blockquote>
          <p><strong>What is your greatest accomplishment at Canonical?</strong></p>
          <p>Working on the UI toolkits for the phone operating system. It&rsquo;s nice to see app developers use the components to make their apps work on Ubuntu, and I think the widgets look beautiful as well.</p>
        </div>
      </div>
    </div>
    <div class="col-9 tabbed-content p-card u-hide" id="technical-and-engineering">
      <div class="row">
        <div class="col-9">
          <h3>Technical and Engineering</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-5 suffix-1">
        <p>Canonical is an engineering company. We need serious technologists to develop and maintain Ubuntu and importantly, its cloud and hyperscale features. If you want to work alongside renowned software developers and take personal responsibility for high-profile projects like Juju and Mir, you won’t find anywhere more exciting to work than Canonical.</p>
      </div>
        <div class="col-4">
          <h4 class="p-heading--five">Latest vacancies &mdash; <a href="/careers/all-technical-and-engineering-vacancies">View all&nbsp;&rsaquo;</a></h4>
          {% get_rss_feed "http://ldd.tbe.taleo.net/ldd03/ats/servlet/Rss?org=CANONICAL&cws=1&_rss_version=2&CUSTOM_755=617" as technical_vacancies %}
          {% include "_includes/vacancies.html" with vacancies=technical_vacancies job_type="technical and engineering" limit="5" %}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-3">
          <img class="portrait" itemprop="image" src="{{ ASSET_SERVER_URL }}72181143-portrait-diogo.png" alt="">
          <ul class="p-list">
            <li class="name" itemprop="name">Diogo</li>
            <li class="role" itemprop="jobTitle">Software Engineer</li>
            <li class="location">Brazil</li>
          </ul>
        </div>
        <div class="col-6">
          <blockquote class="p-pull-quote">
            <p>The best thing about Canonical, for me, is the common understanding that develops, both within teams and between them.</p>
          </blockquote>
          <p><strong>What is your greatest accomplishment at Canonical?</strong></p>
          <p>I think one of my greatest accomplishments was being able to bring down the issue tracker queue of one of Ubuntu One’s components to zero, which doesn’t mean that it was bug-free, but very close to that.</p>
        </div>
      </div>
    </div>
    <div class="col-9 tabbed-content p-card u-hide" id="marketing-and-business-development">
      <div class="row">
        <div class="col-9">
          <h3>Marketing and Business Development</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-5 suffix-1">
        <p>We employ highly skilled business and marketing professionals with technology experience and an entrepreneurial spirit. If you have a background in startups, an interest in engineering or cloud computing and a desire to explore new markets, Canonical could be for you.</p>
      </div>
        <div class="col-4">
          <h4 class="p-heading--five">Latest vacancies &mdash; <a href="/careers/all-technical-and-engineering-vacancies">View all&nbsp;&rsaquo;</a></h4>
          {% get_rss_feed "http://ldd.tbe.taleo.net/ldd03/ats/servlet/Rss?org=CANONICAL&cws=1&_rss_version=2&CUSTOM_755=11588,6158,616" as marketing_vacancies %}
          {% include "_includes/vacancies.html" with vacancies=marketing_vacancies job_type="marketing and business development" limit="5" %}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-3">
          <img class="portrait" itemprop="image" src="{{ ASSET_SERVER_URL }}bb4eeb76-portrait-james.png" alt="">
          <ul class="p-list">
            <li class="name" itemprop="name">James</li>
            <li class="role" itemprop="jobTitle">Inside Sales Executive</li>
            <li class="location">Lexington, USA</li>
          </ul>
        </div>
        <div class="col-6">
          <blockquote class="p-pull-quote">
            <p>I enjoy the 'start-up' feel of the company, good ideas are welcomed and taken on board.</p>
          </blockquote>
          <p><strong>What is your greatest accomplishment at Canonical?</strong></p>
          <p>My colleague and I were selected to drive a new part of the business, notably finding and selling into global open cloud opportunities. Since starting the project 4 months ago, we have secured $2.5 M of projected business and generated high level meetings in some of the most prestigious enterprise companies in the world. Senior technology executives are very keen to speak with us, which is great for my team.</p>
        </div>
      </div>
    </div>
    <div class="col-9 tabbed-content p-card u-hide" id="operations">
      <div class="row">
        <div class="col-9">
          <h3>Operations</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-5 suffix-1">
        <p>Canonical is a global company with over 500 staff and, thanks to our entrepreneurial culture, we are expanding fast. In our operations team, you can expect a diverse, hands-on, international role, with the opportunity to take on complex challenges.</p>
      </div>
        <div class="col-4">
          <h4 class="p-heading--five">Latest vacancies &mdash; <a href="/careers/all-technical-and-engineering-vacancies">View all&nbsp;&rsaquo;</a></h4>
          {% get_rss_feed "http://ldd.tbe.taleo.net/ldd03/ats/servlet/Rss?org=CANONICAL&cws=1&_rss_version=2&CUSTOM_755=615,613,614" as operations_vacancies %}
          {% include "_includes/vacancies.html" with vacancies=operations_vacancies job_type="operations" limit="5" %}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-3">
          <img class="portrait" itemprop="image" src="{{ ASSET_SERVER_URL }}48cfcd60-portrait-michelle.png" alt="">
          <ul class="p-list">
            <li class="name" itemprop="name">Michelle</li>
            <li class="role" itemprop="jobTitle">Executive Assistant</li>
            <li class="location">London, UK</li>
          </ul>
        </div>
        <div class="col-6">
          <blockquote class="p-pull-quote">
            <p>The people, the variety of work and interesting projects are what I enjoy most about working here.</p>
          </blockquote>
          <p><strong>What is your greatest accomplishment at Canonical?</strong></p>
          <p>Working on and implementing the Travel Authorisation process. It was good to head up a project from concept to implementation and have it roll out company wide. Seeing the results of the project, in that we have data we can actually use, has been very rewarding.</p>
        </div>
      </div>
    </div>
    <div class="col-9 tabbed-content p-card u-hide" id="professional-services">
      <div class="row">
        <div class="col-9">
          <h3>Professional Services</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-5 suffix-1">
        <p>Collaborate with leading manufacturers all over the world, as you work to optimise Ubuntu for new hardware platforms including the ARM-based hyperscale servers being developed by HP for the Moonshot project. Expect a varied, client-facing role, with the opportunity to work remotely.</p>
      </div>
        <div class="col-4">
          <h4 class="p-heading--five">Latest vacancies &mdash; <a href="/careers/all-technical-and-engineering-vacancies">View all&nbsp;&rsaquo;</a></h4>
          {% get_rss_feed "http://ldd.tbe.taleo.net/ldd03/ats/servlet/Rss?org=CANONICAL&cws=1&_rss_version=2&keywords=professional" as professional_vacancies %}
          {% include "_includes/vacancies.html" with vacancies=professional_vacancies job_type="professional services" limit="5" %}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-3">
          <img class="portrait" itemprop="image" src="{{ ASSET_SERVER_URL }}bbd0a973-portrait-ramon.png" alt="">
          <ul class="p-list">
            <li class="name" itemprop="name">Ramon</li>
            <li class="role" itemprop="jobTitle">Cloud Architect</li>
            <li class="location">London, UK</li>
          </ul>
        </div>
        <div class="col-6">
          <blockquote class="p-pull-quote">
            <p>The technology we use and the speed at which it evolves makes every day interesting.</p>
          </blockquote>
          <p><strong>What is your greatest accomplishment at Canonical?</strong></p>
          <p>We have been able to deliver elegant Ubuntu Cloud solutions based on OpenStack in very complex and demanding environments. Being part of this is a unique experience, it feels like we are designing the future of the cloud now. To achieve this a great deal of research, testing, documenting and sharing was needed and everybody involved gets better and more knowledgeable everyday.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light is-bordered">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <div class="u-equal-height">
        <div class="col-4">
          <h3><a href="https://ldd.tbe.taleo.net/ldd03/ats/careers/jobSearch.jsp?org=CANONICAL&cws=1&rid=86">Search roles &rsaquo;</a></h3>
          <p>For anyone interested in open source software and Ubuntu in particular, Canonical is an incredible place to work.</p>
        </div>
        <div class="col-2 u-vertically-center">
          <img src="{{ ASSET_SERVER_URL }}5099cfac-image-footer-search.svg" alt="">
        </div>
      </div>
    </div>
    <div class="col-3 p-divider__block">
      <h3><a href="http://design.canonical.com/" class="p-link--external">Ubuntu design blog</a></h3>
      <p>On the Ubuntu design blog, Canonical&rsquo;s design team shares their process, thoughts and inspiration.</p>
    </div>
    <div class="col-3 p-divider__block">
      <h3><a href="http://developer.ubuntu.com/blog/" class="p-link--external">Ubuntu developer blog</a></h3>
      <p>On this blog, the latest community news is shared by Canonical&rsquo;s technical engineers.</p>
    </div>
  </div>
</section>

{% include "_includes/extended-footer.html" %}

{% endblock content %}

{% block footer_extra %}
  <script type="text/javascript">
    /**
    * Given a set of anchor triggers and a set of tab items,
    * where the href of the anchors is equivalent to the ID of the target item:
    * Add class 'hide' to all items except the one which is triggered,
    * and add the class 'active' to the active anchor
    *
    * <a href="#one">anchor 1</a> <a href="#two active">anchor 2</a>
    * <div id="one hide">item 1</div> <div id="two">item 2</div>
    */
    core.setupTabs = function (menuAnchors, tabItems) {
      menuAnchors.forEach(function(anchor) {
        anchor.addEventListener(
          'click',
          function(menuAnchors, tabItems) {
            return function(clickEvent) {
              clickEvent.preventDefault();
              anchor = clickEvent.target.closest('a');

              // Get the ID for this item from the anchor's hash value
              itemId = anchor.hash;

              // Hide all items but display this one
              tabItems.forEach(function(item) {item.classList.add('u-hide');});
              document.querySelector(itemId).classList.remove('u-hide');

              // Deactivate other items and activate this one
              menuAnchors.forEach(function(anchor) {anchor.classList.remove('is-active');});
              anchor.classList.add('is-active');
            };
          }(menuAnchors, tabItems)
        );
      });
    };
    /* tabs */
    core.setupTabs(
      document.querySelectorAll('.tabbed-menu a'),
      document.querySelectorAll('.tabbed-content')
    );
    /* Expand/collapse tabbed-content on small screen view */
    document.querySelectorAll('.tabbed-content').forEach(core.setupAccordion);
  </script>
{% endblock footer_extra %}
