{% extends "careers/base_careers.html" %}

{% block title %}Canonical | Careers | All current vacancies{% endblock %}
{% block meta_description %}If you’re interested in open source software, the cloud or devices, Canonical is an incredible place to work. Whether you’re a technologist, a designer or a business professional, opportunities exist to work from home or at one of our key offices around the world.{% endblock %}

{% block content %}

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h1>All current vacancies</h1>
      {% get_raw_json_feed "https://api.greenhouse.io/v1/boards/Canonical/jobs/"|add:job_id  as listing %}

{% if listing is False %}
<p>got nothing</p>
{% else %}
{% autoescape off %}
{{ listing.content |decode }}
{% endautoescape %}
{% endif %}

    </div>
  </div>
</section>


{% endblock content %}
