<div class="p-strip">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
    <div class="row">
      <div class="u-equal-height">
        <div class="col-4">
        <h3><a href="https://ldd.tbe.taleo.net/ldd03/ats/careers/jobSearch.jsp?org=CANONICAL&cws=1&rid=86">Search roles &rsaquo;</a></h3>
        <p>Search for vacant positions by location, department or by using keywords.</p>
      </div>
        <div class="col-2 u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/5099cfac-image-footer-search.svg" alt="">
      </div>
      </div>
    </div>
  </div>
    <div class="col-3 p-divider__block">
    <h3><a href="/careers/all-vacancies">View all roles &rsaquo;</a></h3>
    <p>We're always on the lookout for people with experience in open source software, the cloud or mobile devices.</p>
  </div>
    <div class="col-3 p-divider__block">
    <h3><a href="/careers">Working at Canonical &rsaquo;</a></h3>
    <p>Whether you&rsquo;re a designer, a technologist or a business professional, Canonical is an incredible place to work. </p>
  </div>
  </div>
</div>
