@charset "UTF-8";
/**
 * mixins
 *
 * @section mixins
 */

@mixin font_size($size: 16) {
  font-size: ($size / $base)em;
  margin-bottom: (12 / $size)em;
}

@mixin box_sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing:    $type;
  box-sizing:         $type;
}

@mixin rounded_corners($radius: 4px 4px 4px 4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box_shadow($shadow: 0 2px 2px 0 #c2c2c2) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin background_size($size: 100% 100%) {
  -moz-background-size: $size;
  -webkit-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}
