////
/// @author       Web Team at Canonical Ltd
////

/// Canonical global navigations styling

@mixin canonical-global-nav {
  @media only screen and (min-width : 768px) {

    body {
      padding-top: 30px;
    }

    #nav-global {
      position: absolute;
    }

    #nav-global li:first-of-type a {
       margin-left: 10px;
    }

    #nav-global {
      display: block;
    }

    footer #nav-global {
      display: none;
    }

    footer #nav-global div {
      display: none;
    }

    footer #nav-global .nav-global-wrapper ul {
      margin-left: 10px;
    }

    footer #nav-global .nav-global-wrapper ul ul {
      margin-left: 0;
    }
  }
}
