////
/// @author       Web Team at Canonical Ltd
////

/// Canonical global navigations styling
@mixin canonical-global-nav {
  body #nav-global li:first-of-type a {
    margin-left: 0;
  }

  footer #nav-global {
    margin: 0 0 20px;

    h2 {
      padding: 8px 0;
    }

    li,
    li.more,
    li.more li {
      margin-top: -1px;
      border-top: 1px solid #d4d7d4;
      border-bottom: none;
    }
  }

  @media only screen and (min-width : 768px) {
    body {
      padding-top: 30px;
    }

    #nav-global {
      position: absolute;
      display: block;

      li:first-of-type a {
        margin-left: 10px;
      }
    }

    footer #nav-global {
      display: none;
      margin: 0 -10px;

      div {
        display: none;
      }
    }
  }
}
