////
/// @author       Web Team at Canonical Ltd
////

/// Canonical toggle menus - generally used in small viewports

@mixin canonical-toggle-menu {
  @media only screen and (max-width : 767px) {
    .toggle-menu {
      clear: both;
      margin-bottom: 0;

      &__button {
        border-bottom: 1px solid #d4d7d4;
        border-top: 1px solid #d4d7d4;
        clear: both;
        height: 21px;
        line-height: 21px;
        text-indent: 10px;
        padding-bottom: 8px;
        padding-top: 8px;

        &::after {
          content: '';
          display: inline-block;
          background-image: url('https://assets.ubuntu.com/v1/0bb13297-arrow_down_9fa097.svg');
          background-repeat: no-repeat;
          background-size: 15px 15px;
          margin-left: 5px;
          height: 11px;
          width: 15px;
        }

        &.active::after {
          background-image: url('https://assets.ubuntu.com/v1/a41d8313-arrow_up_9fa097.svg');
        }
      }

      &__content {
        display: none;

        &.active {
          display: block;
        }

        // Needed to target global nav
        ul {
          width: 100%;
        }
      }

      &__list-item {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-bottom: 1px solid #d4d7d4;
        border-left: 1px solid #d4d7d4;
        box-sizing: border-box;
        color: #333333;
        display: block;
        float: left;
        font-size: 1.14286em;
        margin: 0;
        overflow: hidden;
        padding: 8px 10px;
        text-align: left;
        white-space: normal;
        width: 50%;
      }
    }
  }
}
