@charset "UTF-8";

$color-brand: #e95420;
$color-accent: #2c001e;
$color-link: $color-brand;

// global components
@import '../components/canonical-global-nav/build/css/main';
@import '../components/canonical-cookie-policy/build/css/cookie-policy';

// import vanilla-brochure-theme
@import '../../node_modules/vanilla-framework/scss/build';
@include vanilla-brochure-theme;

// custom animations lib
@import 'custom/animations';

// custom code
@import 'custom/lightbulb-animation';
@import 'custom/inline-ubuntu-logo';
@import 'custom/ubuntu-eco-system-animation';
@import 'custom/map';

// Highlighting navigation for selected page
// https://github.com/vanilla-framework/vanilla-framework/issues/1269
.p-navigation__link {

  &:hover {
    background: $color-x-light;
  }

  &.is-selected {
    background: $color-mid-light;
  }
}
