@charset "UTF-8";

$color-brand: #e95420;
$color-accent: #2c001e;

// global components
@import '../components/canonical-global-nav/build/css/main';
@import '../components/canonical-cookie-policy/build/css/cookie-policy';

// import vanilla-brochure-theme
@import 'vanilla-framework/scss/build';

// custom animations lib
@import 'custom/animations';

// custom code
@import 'custom/lightbulb-animation';
@import 'custom/inline-ubuntu-logo';
@import 'custom/ubuntu-eco-system-animation';
@import 'custom/map';
@import 'pattern_link';
@include canonical-p-link;

// Add font-weight bold to `is-active` state
.is-active {
  font-weight: bold;
}

// time elements should be grey
time {
  color: $color-mid-dark;
}

// Update tabbed-content background color-brand
.tabbed-content {
  background-color: $color-x-light;

  .p-pull-quote > p {
    font-size: 1.5rem;
  }
}

// Tabbed menu items should be dark
.tabbed-menu {

  a {
    color: $color-dark;
  }
}

// Util for clearing
.u-clear {
  clear: both;
}

// Custom margin-top spacing
.further-info {

  .p-list--divided {
    margin-top: $sp-medium;
  }
}


// increase height of /products hero on medium screens
.products-hero {

  @media (min-width: $breakpoint-medium + 1) {
    min-height: 450px;

    .content-wrap {
      margin-top: 3rem;
    }
  }

  @media (min-width: $breakpoint-large) {
    min-height: 500px;

    .content-wrap {
      margin-top: 2rem;
    }
  }
}

// Add extra margin-bottom to 'Join us' list grid
.join-us {

  @media (min-width: $sp-medium) {

    .p-list li:nth-child(odd) {
      margin-bottom: $sp-x-large;
    }
  }
}


// Add a table wrapper to allow x-scrolling
.table__wrapper {
  margin: 2.5rem 0;
  overflow-x: auto;
  overflow-y: hidden;
}

// XXX Ant: 04.12.17 This can be removed when this is fixed
// https://github.com/vanilla-framework/vanilla-framework/issues/1478
.u-align--center {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    max-width: none;
  }
}

