@charset "UTF-8";

$color-brand: #e95420;
$color-accent: #2c001e;
$color-link: $color-brand;

// vendor
@import 'vendor/global-nav/main';
@import 'vendor/cookie-policy/main';

// import vanilla-brochure-theme
@import '../../node_modules/vanilla-brochure-theme/scss/theme';
@include vanilla-brochure-theme

// custom animations
@import 'custom/animations';

// custom code
@import 'custom/lightbulb-animation';
@import 'custom/inline-ubuntu-logo';

@import 'custom/ubuntu-eco-system-animation';

// To be moved upstream
.p-strip--grey {
  background-color: $color-light;
}
