@charset "UTF-8";

$color-brand: #e95420;
$color-accent: #2c001e;

// global components
@import '../components/canonical-global-nav/build/css/main';
@import '../components/canonical-cookie-policy/build/css/cookie-policy';

// import vanilla-brochure-theme
@import '../../node_modules/vanilla-framework/scss/build';
@include vanilla-brochure-theme;

// custom animations lib
@import 'custom/animations';

// custom code
@import 'custom/lightbulb-animation';
@import 'custom/inline-ubuntu-logo';
@import 'custom/ubuntu-eco-system-animation';
@import 'custom/map';

// Fix .p-link--external color
// https://github.com/vanilla-framework/vanilla-framework/issues/1274
.p-strip .p-link--external {
  color: $color-link;
}

// Highlighting navigation for selected page
// https://github.com/vanilla-framework/vanilla-framework/issues/1269
.p-navigation__link {

  &:hover {
    background: $color-x-light;
  }

  &.is-selected {
    background: $color-mid-light;
  }
}

// Add font-weight bold to `is-active` state
.is-active {
  font-weight: bold;
}

// time elements should be grey
time {
  color: $color-mid-dark;
}

// Update tabbed-content background color-brand
.tabbed-content {
  background-color: $color-x-light;

  .p-pull-quote > p {
    font-size: 1.5rem;
  }
}

.tabbed-menu {

  a {
    color: $color-dark;
  }
}

.u-clear {
  clear: both;
}

.further-info {

  .p-list--divided {
    margin-top: $sp-medium;
  }
}

// increase height of /products hero on medium screens
.products-hero {

  @media (min-width: $breakpoint-medium + 1) {
    min-height: 450px;

    .content-wrap {
      margin-top: 3rem;
    }
  }

  @media (min-width: $breakpoint-large) {
    min-height: 500px;

    .content-wrap {
      margin-top: 2rem;
    }
  }
}
