.question {
  color: #666;
  margin-top: 20px;
  margin-bottom: 5px;
}

.careers {
  .strip {
    padding-bottom: 0;
    border-bottom: 1px dotted $warm_grey;

    &.strip-light {
      border: none;
    }
  }
}

.careers-home {
  .inner-wrapper {
    margin-top: 0;
  }

  .row-hero {
    overflow: visible;

    .inner-wrapper {
      margin-top: -40px;
      overflow: visible;
      padding-top: 40px;

      .intro {
        margin-bottom: 10px;
      }
    }
  }

  .search,
  .see-all {
    background-position: left 2px;
    background-repeat: no-repeat;
    color: $secondary-color;
    display: block;
    height: 25px;
    padding: .3em 0 3px 30px;
  }

  .see-all {
    background-image: url('https://assets.ubuntu.com/v1/9526cf28-image-careers-icon-list.svg');
    margin-bottom: 10px;
  }

  .intro .see-all {
    padding-top: 1px;
  }

  .search {
    background-image: url('https://assets.ubuntu.com/v1/b24f3588-image-careers-icon-search.svg');
  }

  .join {
    .twelve-col h2 {
        margin-bottom: 0;
    }

    h4 {
      border-top: 1px dotted $warm_grey;
      margin-bottom: .75em;
      padding-top: 20px;

      a {
        font-weight: 300;
      }
    }

    .portrait {
      float: left;
      margin-bottom: 15px;
      margin-right: 10px;
      max-width: 180px;
      width: 33%;
    }

    .pull-quote {
      clear: both;
    }

    .personal-info {
      list-style-type: none;
    }

    .name,
    .role,
    .location {
      background-position: left 5px;
      background-repeat: no-repeat;
      font-size: .875em;
      height: 30px;
      margin-bottom: 0;
      padding-left: 25px;
      padding-top: 2px;
    }


    .vacancies {
      margin-bottom: 10px;

      li {
        list-style: none;
      }
    }

    .small-menu {
      margin-top: 20px;
    }

    ul {
      margin-left: 0;
    }
  }

  .profile {
    border-top: 1px dotted $warm_grey;
    margin-top: 0;
    padding-top: 20px;
  }

  .row-contextual-footer {
    border-top: 1px dotted $warm_grey;
    margin-top: 20px;
  }
}

/* Vacancies pages */
.careers-cloud-vacancies,
.careers-go-vacancies {
  .vacancies li:first-child {
    font-size:  1.438em;
  }
}

.opera-mini .careers-home,
.no-svg .careers-home {
  .see-all {
    background-image: url('https://assets.ubuntu.com/v1/6630dec6-image-careers-icon-list.png');
  }
  .search {
    background-image: url('https://assets.ubuntu.com/v1/bb664e64-image-careers-icon-search.png');
  }
}

@media only screen and (min-width : 768px) {
  .careers-home .row-hero .inner-wrapper {
    background-image: url('https://assets.ubuntu.com/v1/9e17b0a1-hero-careers-medium.png');
    background-position: 100% -40px;
    background-repeat: no-repeat;
    background-size: 45%;
    overflow: hidden;

    img {
      display: none;
    }

    .intro {
      margin-bottom: 40px;
    }
  }

  .careers-home .join {
    .twelve-col {
      margin-bottom: 20px;

      h2 {
        margin-bottom: .5em;
      }
    }

    .pull-quote {
      margin-left: 40px;
      width: 80%;
    }

    .profile {
      margin-top: 20px;
      padding-top: 40px;
    }

    .portrait {
      width: 100%;
      float: none;
    }

    .see-all {
      margin-bottom: 20px;
    }

    h4 {
      border-top: 0;
      line-height: 1.5;
      padding-top: 0;
    }

    .small-menu {
      display: none;
    }

    .name {
      background-image: url('https://assets.ubuntu.com/v1/ac9e9631-image-careers-icon-name.svg');
      font-weight: normal;
    }

    .role {
      background-image: url('https://assets.ubuntu.com/v1/c7a229ce-image-careers-icon-role.svg');
    }

    .location {
      background-image: url('https://assets.ubuntu.com/v1/dcff80a2-image-careers-icon-location.svg');
    }

    .name,
    .role,
    .location {
      float: none;
    }
  }

  .careers-home .row-contextual-footer {
    margin-top: 0;
  }
}

@media only screen and (min-width : 984px) {
  .careers-home {
    .row-hero {
      background-image: url('https://assets.ubuntu.com/v1/124edc2f-image-careers.png');
      background-repeat: no-repeat;
      background-position: center -40px;
      margin-top: 0;
      padding-top: 40px;

      .see-all {
        background-position: left 4px;
      }

      .inner-wrapper {
        background: none;
        padding-top: 40px;
      }

      img {
        max-width: none;
        position: absolute;
        top: -70px;
      }
    }

    .search,
    .see-all {
      background-position: left center;
    }
  }

  html.js #main-content .tabbed-content {
    padding-bottom: 0;
  }

  /* Vacancies pages */
  .careers-cloud-vacancies,
  .careers-go-vacancies {
    .vacancies li:first-child {
      font-size: 2em;
    }
  }
}

/* Golang / Gophercon-specific */
.careers-go-vacancies {
  .row-hero {
    .six-col {
      padding-bottom: 40px;
    }

    img {
      margin-top: 16px;
    }
  }

  .strip-gophercon {
    form {
      margin-top: 40px;
    }

    fieldset h3 {
      margin-bottom: .522em;
      padding: 0;
      border: none;
    }

    fieldset div {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px dotted #dfdcd9;
    }
  }

  form fieldset {
    background-color: $white;
  }
}

/* Cloud-specific */
.careers-cloud-vacancies {
  .row-hero .last-col {
    padding-left: 20px;
    padding-top: 20px;
  }
}
