{% extends "templates/base.html" %}
{% block meta_description %}Canonical provides commercial services for Ubuntu?s users, while working with hardware manufacturers, software vendors and cloud partners to certify Ubuntu.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, Advantage, services, support, enterprise, IT, desktop, server, cloud, OpenStack, device, corporate, business, government, global, commercial, contract, private, public, sector{% endblock %}

{% block outer_content %}
    {% block content %}{% endblock %}
{% endblock %}
