{% extends "services/base_services.html" %}

{% block title %}Canonical | Services for enterprise{% endblock %}
{% block meta_description %}Canonical provides commercial services for Ubuntu’s users, while working with hardware manufacturers, software vendors and cloud partners to certify Ubuntu.{% endblock %}

{% block content %}
<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-8">
      <h1>Services that make the most of Ubuntu</h1>
      <p>With our flagship service, Ubuntu Advantage, we help our customers deploy and manage Ubuntu on the desktop, server and cloud. We also offer design and consulting services for customers considering large scale Ubuntu deployments. On delivery, all projects are supplemented with an Ubuntu Advantage service agreement, providing access to Canonical&rsquo;s management software as well as 24/7 support.</p>
      <p><a href="https://www.ubuntu.com/management" class="p-link--external">Learn more on ubuntu.com</a></p>
    </div>
  </div>
</section>

<section class="p-strip--light is-bordered">
  <div class="row">
    <div class="col-8">
      <h2>The best management skills for Ubuntu</h2>
      <p>When it comes to making Ubuntu work at scale for enterprise sectors including telecommunications, media, finance and government, no one else can draw on the knowledge, experience and partner network of Canonical. Because we help make Ubuntu, we are able to offer the best tools and services to help you set up and manage your infrastructure, delivering high performance systems at real cost savings. We are already doing this for thousands of organisations worldwide &mdash; and Ubuntu is by far the most popular OS in the cloud.</p>
      <p><a href="/services/contact-us">Contact us about our services&nbsp;&rsaquo;</a></p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2 class="p-muted-heading u-align-text--center">A selection of customers using our services</h2>
    <ul class="p-inline-images">
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}e7c7aa47-logo-wikimedia-foundation.png" alt="Wikimedia logo" />
      </li>
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}b637b55f-logo-bloomberg.png" alt="Bloomberg logo" />
      </li>
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}cd2a3bf7-logo-deutsche-telekom.png" alt="Deutsche Telekom logo" />
      </li>
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}2244ec17-logo-intel.png" alt="Intel logo" />
      </li>
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}246efcee-logo-china-telecom.png" alt="China Telecom logo" />
      </li>
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}21c5b7e2-logo-ebay.png" alt="Ebay logo" />
      </li>
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}208cd3a7-azure-logo-blue-on-white.svg" alt="Windows Azurelogo" />
      </li>
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}bc9f60cc-logo-samsung.png" alt="Samsung logo" />
      </li>
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}bc060fc7-logo-google.png" alt="Google logo" />
      </li>
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}163979d7-logo-ntt-communications.png" alt="NTT Communications logo" />
      </li>
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}39a75628-logo-mercado-libre.png" alt="Mercado libre logo" />
      </li>
      <li class="p-inline-images__item">
        <img src="{{ ASSET_SERVER_URL }}4a09336c-logo-cisco.png" alt="Cisco logo" />
      </li>
    </ul>
  </div>
</section>

<section class="p-strip--accent">
  <div class="row">
    <div class="col-8">
      <h2>What happens when you engage us?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <ol class="p-list-step">
        <li class="p-list-step__item">
          <h3 class="p-list-step__title">
          <span class="p-list-step__bullet">1</span>
          Plan and install
        </h3>
          <p>We examine your business problem and operational requirements before building and installing a proposed solution. Performance is monitored and a full report accompanies the resulting deployment recommendations.</p>
        </li>

        <li class="p-list-step__item">
          <h3 class="p-list-step__title">
          <span class="p-list-step__bullet">2</span>
          Deploy
        </h3>
          <p>The system is now rolled out, configured for optimum security and performance. At this stage, your Ubuntu Advantage subscription begins, making management and support more cost-effective from this point.</p>
        </li>
      </ol>
    </div>
    <div class="col-6">
      <ol class="p-list-step">
        <li class="p-list-step__item">
          <h3 class="p-list-step__title">
          <span class="p-list-step__bullet">3</span>
          Train
        </h3>
          <p>Training is a vital element of a successful handover of the new system.  The transfer of detailed knowledge to your team on how to manage your deployment is critical. For clouds, we also cover scaling and moving workloads.</p>
        </li>

        <li class="p-list-step__item">
          <h3 class="p-list-step__title">
          <span class="p-list-step__bullet">4</span>
          Manage
        </h3>
          <p>As your business evolves, we collaborate closely with your team to monitor and optimise your deployment on an ongoing basis, taking advantage of any opportunities to enhance effectiveness and efficiency</p>
        </li>
      </ol>
    </div>
  </div>
</section>

<section class="p-strip--light is-bordered is-deep">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <div class="u-equal-height">
        <div class="col-4">
          <h3><a href="https://www.ubuntu.com/management/ubuntu-advantage" class="p-link--external">Learn more about Ubuntu Advantage</a></h3>
          <p>On ubuntu.com you&rsquo;ll find more information about management with Landscape and Ubuntu Advantage.</p>
        </div>
        <div class="col-2 u-vertically-center">
          <img src="{{ ASSET_SERVER_URL }}59b3606e-image-footer-forum.svg" alt="">
        </div>
      </div>
    </div>
    <div class="col-4 p-divider__block">
      <h3><a class="p-link--external" href="https://insights.ubuntu.com/2014/03/25/an-ubuntu-pc-for-everyone-in-penn-manor-school-district-pennsylvania-usa/">View case study&nbsp;</a></h3>
      <p>An Ubuntu PC for everyone in Penn Manor School District, Pennsylvania, USA.</p>
    </div>
    <div class="col-4 p-divider__block">
      <h3><a href="/services/contact-us">Contact us today&nbsp;&rsaquo;</a></h3>
      <p>Interested in Ubuntu Advantage? Talk to us today for more information.</p>
    </div>
  </div>
</section>

{% include "_includes/extended-footer.html" %}

{% endblock content %}
