{% extends "contributor-license-agreement/base_contributor-license-agreement.html" %}

{% block title %}Canonical Contributor license agreement{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, operating system, OS, open source, free, FOSS, technology, technologies, software, projects, Unity, user, interface, MIR, graphics, stack, Juju, service, orchestration, cloud, MAAS, metal as a service, server, provisioning, hyperscale,  Launchpad, collaboration, online, code, developer, tool, Upstart, init, daemon{% endblock %}

{% block content %}
<div class="row">
<div class="inner-wrapper">
	<div class="eight-col">
		<h1>Canonical contributor license agreement</h1>
		<p>For certain <a href="/projects/directory">open source software projects</a> managed by Canonical, we ask contributors to send us a contributor licence agreement form by email. This agreement establishes a relationship between us and the contributor, gives details on what it means when the contributor grants permission for their work to be included in a project, and enables us to be better stewards of these projects.</p>
		<p>With the contributor agreement chosen by Canonical, the Harmony CLA, the contributor gives Canonical a licence to use their contributions. The contributor continues to own the copyright in the contribution, with full rights to re-use, re-distribute, and continue modifying the contributed code, allowing them to also share that contribution with other projects.</p>

		<h2>How to submit</h2>
		<p>We&rsquo;ve tried to keep the agreement as simple and comprehensible as possible. It comes in two flavors, one for <a href="{{STATIC_URL}}files/Canonical-HA-CLA-ANY-I_v1.2.pdf">individual contributors</a> and one for <a href="{{STATIC_URL}}files/Canonical-HA-CLA-ANY-E_v1.2.pdf">entities</a> (companies, foundations, or other organizations).</p>
		<p>If you are making a contribution that is not your work (for example, a patch or library written by someone else), please contact the coordinator listed below for guidance on whether any additional steps are needed.</p>
		<p>The Canonical Copyright Licence Agreement should be <a href="/contributor-license-agreement/submit">signed online</a>; please fill in your name and contact information on the agreement form.</p>
		<p>Thank you. If you have any questions, please send them to the appropriate coordinator below, but check the frequently asked questions first.</p>

		<h2>Frequently asked questions</h2>
		<p>Here are answers to some common questions about the arrangements for contributing to projects. This FAQ covers the contributor licence agreement in use since July 2011.</p>
		<h3>Why does Canonical ask contributors to send in the agreement?</h3>
		<p>Canonical both uses and distributes software around the world to other organisations and users. We need to make sure we and our users are legally entitled to distribute software that includes your contributed code, in a way that will hold for all end-users, wherever in the world they might be.</p>
		<h3>Can the Copyright Licence Agreement be signed without a Launchpad account?</h3>
		<p>Yes. The PDF copies are editable forms. Please fill in your details and return by plain- or digitally signed email to <a href="mailto:contributor-agreement@canonical.com">contributor-agreement@canonical.com</a></p>
		<h3>Do I have to send a new copy of the agreement for each Canonical project I contribute to?</h3>
		<p>Fortunately, no — you only need to send one copy of the signed agreement to contribute to projects managed by Canonical. It covers you for all Canonical projects, now and in the future. After you submit it for one Canonical project, you will not have to worry about it again.</p>

		<h3>Why are there two separate documents; for individuals or companies?</h3>
		<p>The two are mostly the same, but individuals have to be sure they have their employer&rsquo;s permission, or whether they&rsquo;re a minor, while companies have to think about their affiliates. It&rsquo;s easier to split the two documents than to have individuals and companies trying to sort out which parts are relevant to them.</p>

		<h3>Didn&rsquo;t Canonical previously use a different agreement?</h3>
		<p>Yes, up until July 2011 we used the Canonical Contributor Agreement 2.5. With the launch of the <a href="http://harmonyagreements.org/" class="external">Harmony contributor agreements</a>, we decided to switch to one of their standard templates, a Harmony Contributor license agreement. The <a href="{{ STATIC_URL }}files/Canonical_Contributor_Agreement_ver_2.5.pdf">old agreement</a> is still available for reference, but we are not asking for anyone new to sign it.</p>

		<h3>If I signed the old agreement, do I need to sign the new one too?</h3>
		<p>No, if you previously accepted the Canonical Contributor Agreement 2.5 (or earlier), your future contributions will continue to be covered by that. However, if you wish, you can sign the new Contributor license agreement, in which case the terms of the new agreement will cover any new contributions.</p>

		<h3>What&rsquo;s different between the new contributor agreement and the old one?</h3>
		<p>One difference between the two is that the old agreement was a copyright assignment agreement (where the contributor granted ownership of the contribution to Canonical), while the new one is a copyright license agreement (where the contributor grants permission for Canonical to distribute the contribution). One new element is a promise back to the contributor to release their contribution under the license in place when they made the contribution. The new agreement also features some refinements in the language around software patents and in how the contributor disclaims warranties.</p>

		<h3>Who owns the copyright?</h3>
		<p>The existing contribution owner continues to own their copyright. This is usually yourself, or your employer. Section 2.1(a) states the following:</p>
		<p>“You retain ownership of the Copyright in Your Contribution and have the same rights to use or license the Contribution which You would have had without entering into the Agreement.”</p>

		<h3>Can I contribute the same code to other projects as well?</h3>
		<p>Yes. You retain the full rights to redistribute your own code as you wish. The agreement is not exclusive and you may contribute what you write to as many other projects or organisations as you wish to share it with.</p>

		<h3>What if I have other questions?</h3>
		<p>The best person to ask is the coordinator for the project you&rsquo;re contributing to. All the coordinators are listed on the main <a href="/projects/directory">open source projects directory</a>.</p>
	</div>
</div>
</div>
{% endblock content %}