{% extends "contributor-license-agreement/base_contributor-license-agreement.html" %}

{% block title %}Contact Canonical | Thank you{% endblock %}
{% block meta_description %}Canonical provides engineering, online and professional services to Ubuntu partners and customers worldwide. As the company behind the Ubuntu project, Canonical is committed to the production and support of Ubuntu – an ever-popular and fast-growing open-source operating system. It aims to ensure Ubuntu is available to every organisation and individual on servers, desktops, laptops and netbooks.{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block content %}
<div class="row">
<div class="inner-wrapper">
	<h1>Thank you</h1>
	<div class="eight-col">
		<p class="intro">We&rsquo;re really excited about your interest in partnering with Ubuntu.</p>
		<p>Thank you for submitting a contributor agreement.</p>
		<p>A member of our team will contact you shortly.</p>
		<p>There are many ways you can contribute to Ubuntu, either as an individual user or an organisation. You can find more information on <a href="/projects">projects</a> and how to contribute on the Ubuntu <a href="http://community.ubuntu.com" class="external">Community site</a>.</p>
	</div>
	<div class="four-col last-col text-center">
		<img src="{{ STATIC_URL }}img/icons/pictogram-smile-purple.png" width="164" height="162" alt="Smiling pictogram" />
	</div>
</div>
</div>
{% endblock content %}