{% extends "intellectual-property-rights-policy/base_intellectual-property-rights-policy.html" %}

{% block title %}Canonical - Trademark enquiries{% endblock %}
{% block meta_description %}Canonical provides engineering, online and professional services to Ubuntu partners and customers worldwide. As the company behind the Ubuntu project, Canonical is committed to the production and support of Ubuntu – an ever-popular and fast-growing open-source operating system. It aims to ensure Ubuntu is available to every organisation and individual on servers, desktops, laptops and netbooks.{% endblock %}

{% block head_extra %}
<link href="https://www.tfaforms.com/wForms/3.5/css/blank/wforms.css" rel="stylesheet" type="text/css" />
<link href="https://www.tfaforms.com/form-builder/4.0.1/css/wforms-jsonly.css" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" /><script src="//www.tfaforms.com/wForms/3.6/js/wforms.js"></script>
<script src="//www.tfaforms.com/js/replace_variables.js"></script>
<script src="//www.tfaforms.com/wForms/3.6/js/wforms_prefill.js"></script>
<script src="//www.tfaforms.com/wForms/3.6/js/localization-en_US.js"></script>{% endblock %}
<script>
/* make jslint happy */
/*global base2, document, wFORMS, $, $$ */


// Use this in a FormAssembly code block to add a string to a field's class (that's how standard validations work)
// this allows form developer to add validations not permitted by FormAssembly's UI.

function custom_validation(id, class_info)
{
	base2.DOM.Element.addEventListener(document,'DOMContentLoaded',
	function()
	{
		try {document.getElementById(id).className += " " + class_info;}
		catch(err)
		{
			throw new Error("Custom validation could not be applied to field " + id);
		}
	},
	false);
}

// validate-length validates string does not exceed given number of chars

wFORMS.behaviors.validation.rules.isUnderLimit   = { selector: ".validate-length", check: 'isUnderLimit' };
wFORMS.behaviors.validation.messages.isUnderLimit = "This text is too long.";

wFORMS.behaviors.validation.instance.prototype.isUnderLimit = function(element, value) {
	var pattern = new RegExp(/validate-length (\d*)/i);
	var matches = element.className.match(pattern);

	if(matches && matches[1]) {
		return (value.length <= matches[1]);
	}
	return true;
};


// validate-awsaccountnumber validates string as Amazon AWS Account Number

// we just check for exactly 12 digits, and each digit may be optionally followed by a dash
// so dashes are essentially ignored

wFORMS.behaviors.validation.rules.isAWSAccountNumber = { selector: ".validate-awsaccountnumber", check: 'validateAWSAccountNumber' };
wFORMS.behaviors.validation.messages.isAWSAccountNumber = "Not a valid Amazon AWS Account number (expected format '1234-5678-0987')";

wFORMS.behaviors.validation.instance.prototype.validateAWSAccountNumber = function(element, value) {
	var regexp = /^(\d-?){12,12}$/;
	return this.isEmpty(value) || regexp.test(value);
};

</script>
<style type="text/css" media="screen">
.supportInfo {
	display: none;
}


div.error, div.ok {
    margin:20px 50px;
    text-align:center;
    padding: 0;
}

div.error p, div.ok p {
    margin: 10px;
}

.wForm textarea {
    width: 100%;
}

div.error {
    background: #FCC;
    color: #200;
    border: 1px solid #D77;
}

div.ok {
    background: #DFD;
    color: #020;
    border: 1px solid #0A0;
}

</style>

{% block content %}
<div class="row">
<div class="inner-wrapper">
	<h1>Trademark enquiries</h1>
	<div class="eight-col">
		<form method="post" action="https://www.tfaforms.com/responses/processor" class=" labelsLeftAligned" id="tfa_9631608629067" enctype="multipart/form-data">
		<fieldset id="tfa_Yourcontactdetai" class="main-fieldset section">
		<h3 id="tfa_Yourcontactdetai-L">Your contact details</h3>
			<div style='display:none;'>
				<input type='hidden'  name='csrfmiddlewaretoken' value='1369669d024a8ff0999a03b51cf4e8e2' />
			</div>
			<div class="htmlSection" id="tfa_9631608629064">
				<div class="htmlContent" id="tfa_9631608629064-HTML">
					<p class="MsoPlainText">Please contact us using the form below if you'd like to request an Ubuntu trademark license, or have any other trademark enquiry. A member of our trademark's team will be in touch with you shortly.</p>
				</div>
			</div>
			<div class="htmlSection" id="tfa_9631608629065">
				<div class="htmlContent" id="tfa_9631608629065-HTML">
					<p class="western">All fields are required</p>
				</div>
			</div>
			<ul class="no-bullets">
				<li class="inline">
					<div id="tfa_Firstname-D" class="oneField">
						<label id="tfa_Firstname-L" for="tfa_Firstname" class="label preField">First name</label>
						<div class="inputWrapper">
							<input type="text" id="tfa_Firstname" name="tfa_Firstname" value="" size="60" placeholder="" class="required">
						</div>
					</div>
				</li>
				<li class="inline">
					<div id="tfa_Lastname-D" class="oneField">
						<label id="tfa_Lastname-L" for="tfa_Lastname" class="label preField">Last name</label><div class="inputWrapper"><input type="text" id="tfa_Lastname" name="tfa_Lastname" value="" size="60" placeholder="" class="required"></div>
					</div>
				</li>

				<li class="inline">
					<div id="tfa_Email-D" class="oneField">
						<label id="tfa_Email-L" for="tfa_Email" class="label preField">Email</label><div class="inputWrapper"><input type="text" id="tfa_Email" name="tfa_Email" value="" size="60" placeholder="" class="validate-email required"></div>
					</div>
				</li>

				<li class="inline">
					<div id="tfa_Phonenumber-D" class="oneField">
						<label id="tfa_Phonenumber-L" for="tfa_Phonenumber" class="label preField">Phone number</label><div class="inputWrapper"><input type="text" id="tfa_Phonenumber" name="tfa_Phonenumber" value="" size="60" placeholder="" class="required"></div>
					</div>
				</li>
			</ul>
		</fieldset>

		<fieldset id="tfa_CompanyInformati" class="">
		<h3 id="tfa_CompanyInformati-L">Company information</h3>
			<ul class="no-bullets">

				<li>
					<div id="tfa_Areyoumakingther-D" class="oneField">
						<label id="tfa_Areyoumakingther-L" for="tfa_Areyoumakingther" class="label preField">Are you making the request on behalf of a company?</label>
						<div class="inputWrapper">
							<select id="tfa_Areyoumakingther" name="tfa_Areyoumakingther" class="required">
								<option value="">Please select...</option>
								<option value="tfa_Yes" class="switch-d">Yes</option>
								<option value="tfa_No" class="">No</option>
							</select>
						</div>
					</div>
				</li>

				<li class="inline">
					<div id="tfa_Companyname1-D" class="oneField offstate-d">
						<label id="tfa_Companyname1-L" for="tfa_Companyname1" class="label preField">Company name</label>
						<div class="inputWrapper">
							<input type="text" id="tfa_Companyname1" name="tfa_Companyname1" value="" size="40" placeholder="" class="required">
						</div>
					</div>
				</li>

				<li class="inline">
					<div id="tfa_Website1-D" class="oneField  offstate-d  ">
						<label id="tfa_Website1-L" for="tfa_Website1" class="label preField">Website</label>
						<div class="inputWrapper">
							<input type="text" id="tfa_Website1" name="tfa_Website1" value="" size="40" placeholder="" class="required">
						</div>
					</div>
				</li>

			</ul>
		</fieldset>

		<fieldset id="tfa_Companyaddressre" class="section offstate-d">
		<h3 id="tfa_Companyaddressre-L">Company address</h3>
			<ul class="no-bullets">
				<li class="inline">
					<div id="tfa_Street-D" class="oneField  offstate-d  ">
						<label id="tfa_Street-L" for="tfa_Street" class="label preField">Street</label>
						<div class="inputWrapper">
							<input type="text" id="tfa_Street" name="tfa_Street" value="" size="40" placeholder="" class="required">
						</div>
					</div>
				</li>

				<li class="inline">
					<div id="tfa_StateProvince-D" class="oneField  offstate-d  ">
						<label id="tfa_StateProvince-L" for="tfa_StateProvince" class="label preField">State/Province</label>
						<div class="inputWrapper">
							<input type="text" id="tfa_StateProvince" name="tfa_StateProvince" value="" size="40" placeholder="" class="required">
						</div>
					</div>
				</li>

				<li class="inline">
					<div id="tfa_City-D" class="oneField  offstate-d  ">
						<label id="tfa_City-L" for="tfa_City" class="label preField">City</label>
						<div class="inputWrapper">
							<input type="text" id="tfa_City" name="tfa_City" value="" size="40" placeholder="" class="required">
						</div>
					</div>

				<li class="inline">
					<div id="tfa_ZipPostalcode-D" class="oneField  offstate-d  ">
						<label id="tfa_ZipPostalcode-L" for="tfa_ZipPostalcode" class="label preField">Zip/Postal code</label>
						<div class="inputWrapper">
							<input type="text" id="tfa_ZipPostalcode" name="tfa_ZipPostalcode" value="" size="40" placeholder="" class="required">
						</div>
					</div>
				</li>

				<li class="inline">
					<div id="tfa_Country-D" class="oneField  offstate-d  ">
						<label id="tfa_Country-L" for="tfa_Country" class="label preField ">Country</label>
							<div class="inputWrapper">
								<select id="tfa_Country" name="tfa_Country" class="">
									<option value="">Please select...</option>
									<option value="tfa_Afghanistan" class="">Afghanistan</option>
									<option value="tfa_Albania" class="">Albania</option>
									<option value="tfa_Algeria" class="">Algeria</option>
									<option value="tfa_AmericanSamoa" class="">American Samoa</option>
									<option value="tfa_Andorra" class="">Andorra</option>
									<option value="tfa_Angola" class="">Angola</option>
									<option value="tfa_Anguilla" class="">Anguilla</option>
									<option value="tfa_Antarctica" class="">Antarctica</option>
									<option value="tfa_AntiguaandBarbud" class="">Antigua and Barbuda</option>
									<option value="tfa_Argentina" class="">Argentina</option>
									<option value="tfa_Armenia" class="">Armenia</option>
									<option value="tfa_Aruba" class="">Aruba</option>
									<option value="tfa_Australia" class="">Australia</option>
									<option value="tfa_Austria" class="">Austria</option>
									<option value="tfa_Azerbaijan" class="">Azerbaijan</option>
									<option value="tfa_Bahamas" class="">Bahamas</option>
									<option value="tfa_Bahrain" class="">Bahrain</option>
									<option value="tfa_Bangladesh" class="">Bangladesh</option>
									<option value="tfa_Barbados" class="">Barbados</option>
									<option value="tfa_Belarus" class="">Belarus</option>
									<option value="tfa_Belgium" class="">Belgium</option>
									<option value="tfa_Belize" class="">Belize</option>
									<option value="tfa_Benin" class="">Benin</option>
									<option value="tfa_Bermuda" class="">Bermuda</option>
									<option value="tfa_Bhutan" class="">Bhutan</option>
									<option value="tfa_Bolivia" class="">Bolivia</option>
									<option value="tfa_BosniaandHerzego" class="">Bosnia and Herzegovina</option>
									<option value="tfa_Botswana" class="">Botswana</option>
									<option value="tfa_BouvetIsland" class="">Bouvet Island</option>
									<option value="tfa_Brazil" class="">Brazil</option>
									<option value="tfa_BritishIndianOce" class="">British Indian Ocean Territory</option>
									<option value="tfa_Brunei" class="">Brunei</option>
									<option value="tfa_Bulgaria" class="">Bulgaria</option>
									<option value="tfa_BurkinaFaso" class="">Burkina Faso</option>
									<option value="tfa_Burundi" class="">Burundi</option>
									<option value="tfa_Cambodia" class="">Cambodia</option>
									<option value="tfa_Cameroon" class="">Cameroon</option>
									<option value="tfa_Canada" class="">Canada</option>
									<option value="tfa_CapeVerde" class="">Cape Verde</option>
									<option value="tfa_CaymanIslands" class="">Cayman Islands</option>
									<option value="tfa_CentralAfricanRe" class="">Central African Republic</option>
									<option value="tfa_Chad" class="">Chad</option>
									<option value="tfa_Chile" class="">Chile</option>
									<option value="tfa_China" class="">China</option>
									<option value="tfa_ChristmasIsland" class="">Christmas Island</option>
									<option value="tfa_CocosKeelingIsla" class="">Cocos ( Keeling ) Islands</option>
									<option value="tfa_Colombia" class="">Colombia</option>
									<option value="tfa_Comoros" class="">Comoros</option>
									<option value="tfa_Congo" class="">Congo</option>
									<option value="tfa_CookIslands" class="">Cook Islands</option>
									<option value="tfa_CostaRica" class="">Costa Rica</option>
									<option value="tfa_CtedIvoire" class="">Côte d ' Ivoire</option>
									<option value="tfa_CroatiaHrvatska" class="">Croatia ( Hrvatska )</option>
									<option value="tfa_Cuba" class="">Cuba</option>
									<option value="tfa_Cyprus" class="">Cyprus</option>
									<option value="tfa_CzechRepublic" class="">Czech Republic</option>
									<option value="tfa_CongoDRC" class="">Congo ( DRC )</option>
									<option value="tfa_Denmark" class="">Denmark</option>
									<option value="tfa_Djibouti" class="">Djibouti</option>
									<option value="tfa_Dominica" class="">Dominica</option>
									<option value="tfa_DominicanRepubli" class="">Dominican Republic</option>
									<option value="tfa_EastTimor" class="">East Timor</option>
									<option value="tfa_Ecuador" class="">Ecuador</option>
									<option value="tfa_Egypt" class="">Egypt</option>
									<option value="tfa_ElSalvador" class="">El Salvador</option>
									<option value="tfa_EquatorialGuinea" class="">Equatorial Guinea</option>
									<option value="tfa_Eritrea" class="">Eritrea</option>
									<option value="tfa_Estonia" class="">Estonia</option>
									<option value="tfa_Ethiopia" class="">Ethiopia</option>
									<option value="tfa_FalklandIslandsI" class="">Falkland Islands ( Islas Malvinas )</option>
									<option value="tfa_FaroeIslands" class="">Faroe Islands</option>
									<option value="tfa_FijiIslands" class="">Fiji Islands</option>
									<option value="tfa_Finland" class="">Finland</option>
									<option value="tfa_France" class="">France</option>
									<option value="tfa_FrenchGuiana" class="">French Guiana</option>
									<option value="tfa_FrenchPolynesia" class="">French Polynesia</option>
									<option value="tfa_FrenchSouthernan" class="">French Southern and Antarctic Lands</option>
									<option value="tfa_Gabon" class="">Gabon</option>
									<option value="tfa_Gambia" class="">Gambia</option>
									<option value="tfa_Georgia" class="">Georgia</option>
									<option value="tfa_Germany" class="">Germany</option>
									<option value="tfa_Ghana" class="">Ghana</option>
									<option value="tfa_Gibraltar" class="">Gibraltar</option>
									<option value="tfa_Greece" class="">Greece</option>
									<option value="tfa_Greenland" class="">Greenland</option>
									<option value="tfa_Grenada" class="">Grenada</option>
									<option value="tfa_Guadeloupe" class="">Guadeloupe</option>
									<option value="tfa_Guam" class="">Guam</option>
									<option value="tfa_Guatemala" class="">Guatemala</option>
									<option value="tfa_Guinea" class="">Guinea</option>
									<option value="tfa_GuineaBissau" class="">Guinea-Bissau</option>
									<option value="tfa_Guyana" class="">Guyana</option>
									<option value="tfa_Haiti" class="">Haiti</option>
									<option value="tfa_HeardIslandandMc" class="">Heard Island and McDonald Islands</option>
									<option value="tfa_Honduras" class="">Honduras</option>
									<option value="tfa_HongKongSAR" class="">Hong Kong SAR</option>
									<option value="tfa_Hungary" class="">Hungary</option>
									<option value="tfa_Iceland" class="">Iceland</option>
									<option value="tfa_India" class="">India</option>
									<option value="tfa_Indonesia" class="">Indonesia</option>
									<option value="tfa_Iran" class="">Iran</option>
									<option value="tfa_Iraq" class="">Iraq</option>
									<option value="tfa_Ireland" class="">Ireland</option>
									<option value="tfa_Israel" class="">Israel</option>
									<option value="tfa_Italy" class="">Italy</option>
									<option value="tfa_Jamaica" class="">Jamaica</option>
									<option value="tfa_Japan" class="">Japan</option>
									<option value="tfa_Jordan" class="">Jordan</option>
									<option value="tfa_Kazakhstan" class="">Kazakhstan</option>
									<option value="tfa_Kenya" class="">Kenya</option>
									<option value="tfa_Kiribati" class="">Kiribati</option>
									<option value="tfa_Korea" class="">Korea</option>
									<option value="tfa_Kuwait" class="">Kuwait</option>
									<option value="tfa_Kyrgyzstan" class="">Kyrgyzstan</option>
									<option value="tfa_Laos" class="">Laos</option>
									<option value="tfa_Latvia" class="">Latvia</option>
									<option value="tfa_Lebanon" class="">Lebanon</option>
									<option value="tfa_Lesotho" class="">Lesotho</option>
									<option value="tfa_Liberia" class="">Liberia</option>
									<option value="tfa_Libya" class="">Libya</option>
									<option value="tfa_Liechtenstein" class="">Liechtenstein</option>
									<option value="tfa_Lithuania" class="">Lithuania</option>
									<option value="tfa_Luxembourg" class="">Luxembourg</option>
									<option value="tfa_MacaoSAR" class="">Macao SAR</option>
									<option value="tfa_MacedoniaFormerY" class="">Macedonia, Former Yugoslav Republic of</option>
									<option value="tfa_Madagascar" class="">Madagascar</option>
									<option value="tfa_Malawi" class="">Malawi</option>
									<option value="tfa_Malaysia" class="">Malaysia</option>
									<option value="tfa_Maldives" class="">Maldives</option>
									<option value="tfa_Mali" class="">Mali</option>
									<option value="tfa_Malta" class="">Malta</option>
									<option value="tfa_MarshallIslands" class="">Marshall Islands</option>
									<option value="tfa_Martinique" class="">Martinique</option>
									<option value="tfa_Mauritania" class="">Mauritania</option>
									<option value="tfa_Mauritius" class="">Mauritius</option>
									<option value="tfa_Mayotte" class="">Mayotte</option>
									<option value="tfa_Mexico" class="">Mexico</option>
									<option value="tfa_Micronesia" class="">Micronesia</option>
									<option value="tfa_Moldova" class="">Moldova</option>
									<option value="tfa_Monaco" class="">Monaco</option>
									<option value="tfa_Mongolia" class="">Mongolia</option>
									<option value="tfa_Montserrat" class="">Montserrat</option>
									<option value="tfa_Morocco" class="">Morocco</option>
									<option value="tfa_Mozambique" class="">Mozambique</option>
									<option value="tfa_Myanmar" class="">Myanmar</option>
									<option value="tfa_Namibia" class="">Namibia</option>
									<option value="tfa_Nauru" class="">Nauru</option>
									<option value="tfa_Nepal" class="">Nepal</option>
									<option value="tfa_Netherlands" class="">Netherlands</option>
									<option value="tfa_NetherlandsAntil" class="">Netherlands Antilles</option>
									<option value="tfa_NewCaledonia" class="">New Caledonia</option>
									<option value="tfa_NewZealand" class="">New Zealand</option>
									<option value="tfa_Nicaragua" class="">Nicaragua</option>
									<option value="tfa_Niger" class="">Niger</option>
									<option value="tfa_Nigeria" class="">Nigeria</option>
									<option value="tfa_Niue" class="">Niue</option>
									<option value="tfa_NorfolkIsland" class="">Norfolk Island</option>
									<option value="tfa_NorthKorea" class="">North Korea</option>
									<option value="tfa_NorthernMarianaI" class="">Northern Mariana Islands</option>
									<option value="tfa_Norway" class="">Norway</option>
									<option value="tfa_Oman" class="">Oman</option>
									<option value="tfa_Pakistan" class="">Pakistan</option>
									<option value="tfa_Palau" class="">Palau</option>
									<option value="tfa_Panama" class="">Panama</option>
									<option value="tfa_PapuaNewGuinea" class="">Papua New Guinea</option>
									<option value="tfa_Paraguay" class="">Paraguay</option>
									<option value="tfa_Peru" class="">Peru</option>
									<option value="tfa_Philippines" class="">Philippines</option>
									<option value="tfa_PitcairnIslands" class="">Pitcairn Islands</option>
									<option value="tfa_Poland" class="">Poland</option>
									<option value="tfa_Portugal" class="">Portugal</option>
									<option value="tfa_PuertoRico" class="">Puerto Rico</option>
									<option value="tfa_Qatar" class="">Qatar</option>
									<option value="tfa_Reunion" class="">Reunion</option>
									<option value="tfa_Romania" class="">Romania</option>
									<option value="tfa_Russia" class="">Russia</option>
									<option value="tfa_Rwanda" class="">Rwanda</option>
									<option value="tfa_Samoa" class="">Samoa</option>
									<option value="tfa_SanMarino" class="">San Marino</option>
									<option value="tfa_SoTomandPrncipe" class="">São Tomé and Prìncipe</option>
									<option value="tfa_SaudiArabia" class="">Saudi Arabia</option>
									<option value="tfa_Senegal" class="">Senegal</option>
									<option value="tfa_SerbiaandMontene" class="">Serbia and Montenegro</option>
									<option value="tfa_Seychelles" class="">Seychelles</option>
									<option value="tfa_SierraLeone" class="">Sierra Leone</option>
									<option value="tfa_Singapore" class="">Singapore</option>
									<option value="tfa_Slovakia" class="">Slovakia</option>
									<option value="tfa_Slovenia" class="">Slovenia</option>
									<option value="tfa_SolomonIslands" class="">Solomon Islands</option>
									<option value="tfa_Somalia" class="">Somalia</option>
									<option value="tfa_SouthAfrica" class="">South Africa</option>
									<option value="tfa_SouthGeorgiaandt" class="">South Georgia and the South Sandwich Islands</option>
									<option value="tfa_Spain" class="">Spain</option>
									<option value="tfa_SriLanka" class="">Sri Lanka</option>
									<option value="tfa_StHelena" class="">St. Helena</option>
									<option value="tfa_StKittsandNevis" class="">St. Kitts and Nevis</option>
									<option value="tfa_StLucia" class="">St. Lucia</option>
									<option value="tfa_StPierreandMique" class="">St. Pierre and Miquelon</option>
									<option value="tfa_StVincentandtheG" class="">St. Vincent and the Grenadines</option>
									<option value="tfa_Sudan" class="">Sudan</option>
									<option value="tfa_Suriname" class="">Suriname</option>
									<option value="tfa_SvalbardandJanMa" class="">Svalbard and Jan Mayen</option>
									<option value="tfa_Swaziland" class="">Swaziland</option>
									<option value="tfa_Sweden" class="">Sweden</option>
									<option value="tfa_Switzerland" class="">Switzerland</option>
									<option value="tfa_Syria" class="">Syria</option>
									<option value="tfa_Taiwan" class="">Taiwan</option>
									<option value="tfa_Tajikistan" class="">Tajikistan</option>
									<option value="tfa_Tanzania" class="">Tanzania</option>
									<option value="tfa_Thailand" class="">Thailand</option>
									<option value="tfa_Togo" class="">Togo</option>
									<option value="tfa_Tokelau" class="">Tokelau</option>
									<option value="tfa_Tonga" class="">Tonga</option>
									<option value="tfa_TrinidadandTobag" class="">Trinidad and Tobago</option>
									<option value="tfa_Tunisia" class="">Tunisia</option>
									<option value="tfa_Turkey" class="">Turkey</option>
									<option value="tfa_Turkmenistan" class="">Turkmenistan</option>
									<option value="tfa_TurksandCaicosIs" class="">Turks and Caicos Islands</option>
									<option value="tfa_Tuvalu" class="">Tuvalu</option>
									<option value="tfa_Uganda" class="">Uganda</option>
									<option value="tfa_Ukraine" class="">Ukraine</option>
									<option value="tfa_UnitedArabEmirat" class="">United Arab Emirates</option>
									<option value="tfa_UnitedKingdom" class="">United Kingdom</option>
									<option value="tfa_UnitedStates" class="">United States</option>
									<option value="tfa_UnitedStatesMino" class="">United States Minor Outlying Islands</option>
									<option value="tfa_Uruguay" class="">Uruguay</option>
									<option value="tfa_Uzbekistan" class="">Uzbekistan</option>
									<option value="tfa_Vanuatu" class="">Vanuatu</option>
									<option value="tfa_VaticanCity" class="">Vatican City</option>
									<option value="tfa_Venezuela" class="">Venezuela</option>
									<option value="tfa_VietNam" class="">Viet Nam</option>
									<option value="tfa_VirginIslandsBri" class="">Virgin Islands ( British )</option>
									<option value="tfa_VirginIslands" class="">Virgin Islands</option>
									<option value="tfa_WallisandFutuna" class="">Wallis and Futuna</option>
									<option value="tfa_Yemen" class="">Yemen</option>
									<option value="tfa_Zambia" class="">Zambia</option>
									<option value="tfa_Zimbabwe" class="">Zimbabwe</option></select>
								</div>
							</div>
				</li>
			</ul>
		</fieldset>

		<fieldset>
			<ul class="no-bullets">
				<li>
					<div id="tfa_Whataredoyouplan-D" class="oneField">
						<label id="tfa_Whataredoyouplan-L" for="tfa_Whataredoyouplan" class="label preField">In what capacity are you requesting to use the trademark?</label>
						<div class="inputWrapper">
							<span id="tfa_Whataredoyouplan" class="choices  required"><span class="oneChoice">
								<input type="checkbox" value="tfa_Commercial" class="" id="tfa_Commercial" name="tfa_Commercial"><label class="label postField" id="tfa_Commercial-L" for="tfa_Commercial">Commercial</label></span><span class="oneChoice">
								<input type="checkbox" value="tfa_Community" class="switch-c" id="tfa_Community" name="tfa_Community" data-conditionals="#tfa_Areyouamemberofa"><label class="label postField" id="tfa_Community-L" for="tfa_Community">Community</label></span>
							</span>
						</div>
					</div>
				</li>

				<li>
					<div id="tfa_Areyouamemberofa-D" class="oneField  offstate-c">
						<label id="tfa_Areyouamemberofa-L" for="tfa_Areyouamemberofa" class="label preField">Are you a member of an approved LoCo team?</label>
							<div class="inputWrapper">
								<select id="tfa_Areyouamemberofa" name="tfa_Areyouamemberofa" class="required">
									<option value="">Please select...</option>
									<option value="tfa_Yes1" class="switch-b">Yes</option>
									<option value="tfa_No1" class="">No</option>
								</select>
							</div>
					</div>
				</li>

				<li>
					<div id="tfa_Pleasestatewhich-D" class="oneField  offstate-b  ">
						<label id="tfa_Pleasestatewhich-L" for="tfa_Pleasestatewhich" class="label preField">Please state which LoCo team</label>
						<div class="inputWrapper">
							<input type="text" id="tfa_Pleasestatewhich" name="tfa_Pleasestatewhich" value="" size="40" placeholder="" class="required">
						</div>
					</div>
				</li>

				<li>
					<div id="tfa_Inwhatcapacitydo-D" class="oneField   labelsLeftAligned ">
						<label id="tfa_Inwhatcapacitydo-L" for="tfa_Inwhatcapacitydo" class="label preField">In what capacity do you propose to use the Ubuntu trademark? (select all that apply)</label>
						<div class="inputWrapper">
							<select id="tfa_Inwhatcapacitydo" multiple name="tfa_Inwhatcapacitydo[]" class="required">
								<option value="">Please select...</option>
								<option value="tfa_DistributionofUb" class="">Distribution of Ubuntu</option>
								<option value="tfa_Salesofmerchandi" class="">Sales of merchandise</option>
								<option value="tfa_Publishing" class="">Publishing</option>
								<option value="tfa_Websiteblog" class="">Website/blog</option>
								<option value="tfa_Advertising" class="">Advertising</option>
								<option value="tfa_DomainnameofUbun" class="">Domain name of Ubuntu</option>
								<option value="tfa_Derivativedistri" class="">Derivative distribution (remix)</option>
								<option value="tfa_ProductbuiltonUb" class="">Product built on Ubuntu</option>
								<option value="tfa_Other" class="">Other</option>
							</select>
						</div>
					</div>
				</li>

				<li>
					<div id="tfa_Pleaseaddanyothe-D" class="oneField labelsAbove">
						<label id="tfa_Pleaseaddanyothe-L" for="tfa_Pleaseaddanyothe" class="label preField">Please describe your request in more detail</label>
						<div class="inputWrapper">
							<textarea cols="90" rows="6" id="tfa_Pleaseaddanyothe" name="tfa_Pleaseaddanyothe" class="required"></textarea>
						</div>
					</div>
				</li>

				<li>
					<div class="htmlSection" id="tfa_9631608629066">
						<div class="htmlContent" id="tfa_9631608629066-HTML">
							Data collected from this survey will be handled in accordance with the Canonical <a href="/privacy-policy" target="_blank">privacy policy</a>
						</div>
					</div>
				</li>

				<li>
					<div id="tfa_Ifyouwouldliketo-D" class="oneField labelsAbove">
						<label id="tfa_Ifyouwouldliketo-L" for="tfa_Ifyouwouldliketo" class="label preField ">If you would like to include an attachment with your request please add it here.</label>
							<div class="inputWrapper">
								<input type="file" id="tfa_Ifyouwouldliketo" name="tfa_Ifyouwouldliketo">
							</div>
					</div>
				</li>

				<li>
					<div class="actions" id="tfa_9631608629067-A">
						<input type="submit" class="primaryAction" value="Submit">
					</div>
				</li>
			</ul>
				<div>
			</div>
			<input type="hidden" value="36087" name="tfa_dbFormId" id="tfa_dbFormId">
			<input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
			<input type="hidden" value="c004ae4348a8919232a477fa58f8a3bf" name="tfa_dbControl" id="tfa_dbControl">
			<input type="hidden" value="26" name="tfa_dbVersionId" id="tfa_dbVersionId">
		</fieldset>
		</form>
	</div>
</div><!-- /.inner-wrapper -->
</div><!-- /.row -->
{% endblock content %}
{% block footer_extra %}
<script type="text/javascript">
/* Copyright 2007 Veer West LLC - http://www.formassembly.com
 * populate a web form with querystring parameters.
 */
new function(_) {
	var populateForms = function() {
		var params = getParameters();
		var forms  = document.getElementsByTagName('FORM');
		for (var i=0;i<forms.length;i++) {
			populateForm(forms[i],params);
		}
	}
	var populateForm = function(f, values) {
	    if(!f['tfa_dbFormId']) {
	    	// skip non-formassembly.com forms
	    	return;
	    }
		if(wFORMS && wFORMS.getBehaviorInstance) {
			var _bs = wFORMS.getBehaviorInstance(f,'switch');
			var _bc = wFORMS.getBehaviorInstance(f,'calculation');
		}
	    for(var fieldName in values) {
	    	var fld = f.elements[fieldName];
	    	if(fld) {
	    		if(fld.tagName) {
			    	if((fld.tagName=='INPUT' && (fld.type=='text' || fld.type=='hidden' || fld.type=='password'))
			    	          ||(fld.tagName=='TEXTAREA'));
			    		fld.value = unescape(values[fieldName]);
			    	if(fld.tagName=='INPUT' && fld.type=='checkbox') {
			    		fld.checked = values[fieldName] ? true : false;
			    	}
			    	if(fld.tagName=='SELECT') {
			    		fld.value = values[fieldName];
			    	}
					if(_bs) { // trigger switch behavior if appropriate.
						_bs.run(null,fld);
					}
					if(_bc) { // trigger calculation behavior if appropriate.
						_bc.run(null,fld);
					}
	    		} else {
	    			// radio group
		    		for (i=0;i<fld.length;i++) {
						if (fld[i].value==values[fieldName]) {
							fld[i].checked = true;
							if(_bs) { // trigger switch behavior if appropriate.
								_bs.run(null,fld[i]);
							}
							if(_bc) { // trigger calculation behavior if appropriate.
								_bc.run(null,fld[i]);
							}
							break;
						}
					}
		    	}
	    	}
	    }
	}
	var getParameters = function() {
		var param = Array();
		var q = document.location.search;
		if(q.length==0)
			return;
	    var v = q.split('?')[1].split('&');
	    for(var i=0;i<v.length;i++) {
	    	param[v[i].split('=')[0]] = v[i].split('=')[1];
	    }
	    return param;
	}
	var _addEvent = function(obj, type, fn) {
		if(!obj) { return; }
		if (obj.attachEvent) {
			obj['e'+type+fn] = fn;
			obj[type+fn] = function(){obj['e'+type+fn]( window.event );}
			obj.attachEvent( 'on'+type, obj[type+fn] );
		} else if(obj.addEventListener) {
			obj.addEventListener( type,fn, false );
		} else {
			var originalHandler = obj["on" + type];
			if (originalHandler) {
			  obj["on" + type] = function(e){originalHandler(e);fn(e);};
			} else {
			  obj["on" + type] = fn;
			}
		}
	}
	_addEvent(window,'load',populateForms);
}();

</script>{% endblock %}
