{% extends "intellectual-property-rights-policy/base_intellectual-property-rights-policy.html" %}

{% block title %}Contact Canonical | Thank you{% endblock %}
{% block meta_description %}Canonical provides engineering, online and professional services to Ubuntu partners and customers worldwide. As the company behind the Ubuntu project, Canonical is committed to the production and support of Ubuntu – an ever-popular and fast-growing open-source operating system. It aims to ensure Ubuntu is available to every organisation and individual on servers, desktops, laptops and netbooks.{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block content %}
<div class="row">
<div class="inner-wrapper">
		<h1>Thank you</h1>
	<div class="eight-col">
		<p>Thank you for contacting us. Every email we receive is read and handled by a person from the Canonical Team. We promise to get back to you as soon as possible with a useful response, so please bear with us as this may take an extra day or two.</p>
		<ul class="list">
			<li><a href="/intellectual-property-rights-policy">Intellectual property rights policy &rsaquo;</a></li>
			<li><a href="/">Canonical home page &rsaquo;</a></li>
			<li><a href="http://www.ubuntu.com" class="external">Ubuntu home page</a></li>
		</ul>
	</div>
	<div class="four-col last-col text-center">
		<img src="{{ STATIC_URL }}img/icons/pictogram-smile-purple.png" width="164" height="162" alt="Smiling pictogram" />
	</div>
</div>
</div>
{% endblock content %}