/* @section Animations
-------------------------------------------------------------- */
@-webkit-keyframes bounce-in {
  0% { -webkit-transform: scale(.2); }
  80% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(.9); }
}
@-moz-keyframes bounce-in {
  0% { -moz-transform: scale(.2); }
  80% { -moz-transform: scale(1); }
  100% { -moz-transform: scale(.9); }
}
@-o-keyframes bounce-in {
  0% { -o-transform: scale(.2); }
  80% { -o-transform: scale(1); }
  100% { -o-transform: scale(.9); }
}
@keyframes bounce-in {
  0% { transform: scale(.2); }
  80% { transform: scale(1); }
  100% { transform: scale(.9); }
}

/* @section Projects
-------------------------------------------------------------- */
body.projects-home {
  .row-hero {
    .inner-wrapper {
      border-bottom: 1px dotted $warm_grey;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

    img {
      display: none;
    }
  }

  .row-project {
    ul {
      margin-bottom: 0;
    }

    li {
      margin-bottom: 20px;

      img.small {
        float: left;
        margin-right: 10px;
        width: 50px;
      }

      img.large {
        display: none;
      }

      h3 {
        background-repeat: no-repeat;
        background-size: 40px 40px;
        color: $cool_grey;
        font-size: 18px;
        padding: 10px 0;
      }

      a:hover,
      a:focus {
        text-decoration: none;
      }

      div a:hover {
        text-decoration: underline;
      }

      .smaller {
        font-size: 16px;
      }
    }
  }
  .row-project li h3 img {
    clear: both;
    display: block;
  }

  .row-project li h3 span {
    background-image: url("https://assets.ubuntu.com/v1/96ddc010-arrow_down.svg");
    background-position: 0 2px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clear: none;
    display: inline-block;
    float: none;
    margin-left: 6px;
    height: 13px;
    width: 13px;
  }

  .row-project li a.active span {
    background-image: url("https://assets.ubuntu.com/v1/7dc60155-arrow_up.svg");
    background-position: 0 0;
  }


  .row-contextual-footer {
    border-top: 1px dotted $warm_grey;
    margin-top: 20px;
  }
}

.js body.projects-home {
  .row-project li div {
    display: block;
    transition: all .3s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  .row-project li div.active  {
    opacity: 1;
    height: auto;
  }
}

/* Medium / Tablet viewport
-------------------------------------------------------------- */
@media only screen and (min-width : 600px) {
  body.projects-home {
    .row-project {
      margin-right: 18%;
      margin-left: 18%;

      .three-col {
        width: 44%;
        margin-right: 40px;
      }

      .three-col:nth-of-type(2n){
        margin-right: 0;
        float: right;
      }

      li {
        width: 100%;

        h3 {
          font-size: 16px;
          padding-left: 0;
        }

        img.small {
          display: none;
        }

        img.large {
          display: block;
          margin-bottom: 0;
        }
      }
    }
  }

  body.projects-home .row-contextual-footer {
    margin-top: 0;
  }
}

/* @section Large / Desktop viewport
-------------------------------------------------------------- */
@media only screen and (min-width : 984px) {
  body.projects-home {
    .row-hero img {
      -moz-animation: bounce-in .5s ease 1s forwards;
      -webkit-animation: bounce-in .5s ease 1s forwards;
      -o-animation: bounce-in .5s ease 1s forwards;
      animation: bounce-in .5s ease 1s forwards;
      -moz-transform: scale(.2);
      -webkit-transform: scale(.2);
      -o-transform: scale(.2);
      transform: scale(.2);
      display: block;
      margin: 0 auto;
    }

    .row-project {
      margin-right: 0;
      margin-left: 0;

      .three-col {
        width: 21.5%;
      }

      .three-col:nth-of-type(2n){
        margin-right: 40px;
        float: left;
      }

      .three-col.last-col {
        margin-right: 0;
      }

      li {
        width: auto;

        h3 {
          @include background_size(210px auto);
          font-size: 18px;
        }
      }
    }
  }
}
