@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

/*scaleIn*/
@keyframes scaleIn {
  0% {
    background-size: 0%;
  }

  100% {
    background-size: 100%;
  }
}

@-moz-keyframes scaleIn {
  0% {
    background-size: 0%;
  }

  100% {
    background-size: 100%;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    background-size: 0%;
  }

  100% {
    background-size: 100%;
  }
}

/*scaleInPop*/
@keyframes scaleInPop {
  0% {
    background-size: 0%;
  }

  60% {
    background-size: 100%;
  }

  100% {
    background-size: 90%;
  }
}

@-moz-keyframes scaleInPop {
  0% {
    background-size: 0%;
  }

  60% {
    background-size: 100%;
  }

  100% {
    background-size: 90%;
  }
}

@-webkit-keyframes scaleInPop {
  0% {
    background-size: 0%;
  }

  60% {
    background-size: 100%;
  }

  100% {
    background-size: 90%;
  }
}

/*rotateIn*/

@keyframes rotateIn {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@-moz-keyframes rotateIn {
  0% {
    -moz-transform: rotate(-45deg);
  }

  100% {
    -moz-transform: rotate(0deg);
  }
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform: rotate(-45deg);
  }
  
  100% {
    -webkit-transform: rotate(0deg);
  }
}

.products {
  .inner-wrapper {
    margin-top: 0;
  }

  .row-hero .inner-wrapper img {
    display: block;
    margin: 0 auto;
  }

  .juju-connected {
    position: relative;

    .row {
      padding-top: 0;
      padding-bottom: 0;
    }

    .connection {
      display: none;
      position: absolute;
      background-color: #38B14A;
      height: 2px;
      width: 100%;
      top: 50%;
      margin-top: -11px;
    }

    img {
      position: relative;
      z-index: 2;
      margin-left: 0;
    }
  }

}

// Medium / Tablet viewport
@media only screen and (min-width : 768px) {
  .products {
    .row-hero {
      margin-top: 0;
      overflow: hidden;
      padding-bottom: 0;
      padding-top: 40px;

      .inner-wrapper {
        margin-top: -60px;
        overflow: visible;
        padding-top: 50px;

        img {
          display: none;
        }
      }
    }

    .juju-connected {
      margin-bottom: 30px;
      margin-top: 20px;
      overflow: hidden;

      .connection {
        display: block;
      }

    }

    .row-hero img {
      display: none;
    }

    .products-hero-container {
      background: url('../img/products/products-hero-background.png') no-repeat center center;
      height: 600px;
      left: 50%;
      margin: -61px 0 0 -427px;
      position: absolute;
      top: 50%;
      width: 600px;
    }

    .products-hero-ubuntu {
      -moz-animation-delay: 1s;
      -moz-animation: scaleIn .3s forwards, fadeIn .6s linear forwards, rotateIn 3.0s ease-out forwards;
      -webkit-animation-delay: 1s;
      -webkit-animation: scaleIn .3s forwards, fadeIn .6s linear forwards, rotateIn 3.0s ease-out forwards;
      animation-delay: 1s;
      animation: scaleIn .3s forwards, fadeIn .6s linear forwards, rotateIn 3.0s ease-out forwards;
      background-size: 0%;
      background: url('../img/products/products-hero-ubuntu.png') 50% 50% no-repeat;
      background: url('../img/products/products-hero-ubuntu.svg') 50% 50% no-repeat, none;
      height: 140px;
      left: 330px;
      opacity: 0;
      position: absolute;
      top: 208px;
      width: 140px;
    }

    .products-hero-desktop,
    .products-hero-phone,
    .products-hero-tablet,
    .products-hero-server,
    .products-hero-cloud {
      -moz-animation: scaleInPop 0.2s forwards, fadeIn 0.2s linear forwards;
      -webkit-animation: scaleInPop 0.2s forwards, fadeIn 0.2s linear forwards;
      animation: scaleInPop 0.2s forwards, fadeIn 0.2s linear forwards;
      height: 66px;
      opacity: 0;
      position: absolute;
      width: 66px;
    }

    .products-hero-desktop {
      -moz-animation-delay: 1.6s;
      -webkit-animation-delay: 1.6s;
      animation-delay: 1.6s;
      background-size: 0%;
      background: url('../img/products/products-hero-desktop.png') 50% 50% no-repeat;
      background: url('../img/products/products-hero-desktop.svg') 50% 50% no-repeat, none;
      left: 367px;
      top: 65px;
    }

    .products-hero-phone {
      -moz-animation-delay: 1.85s;
      -webkit-animation-delay: 1.85s;
      animation-delay: 1.85s;
      background-size: 0%;
      background: url('../img/products/products-hero-phone.png') 50% 50% no-repeat;
      background: url('../img/products/products-hero-phone.svg') 50% 50% no-repeat, none;
      left: 494px;
      top: 118px;
    }

    .products-hero-tablet {
      -moz-animation-delay: 2s;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
      background-size: 0%;
      background: url('../img/products/products-hero-tablet.png') 50% 50% no-repeat;
      background: url('../img/products/products-hero-tablet.svg') 50% 50% no-repeat, none;
      left: 547px;
      top: 245px;
    }

    .products-hero-server {
      -moz-animation-delay: 2.15s;
      -webkit-animation-delay: 2.15s;
      animation-delay: 2.15s;
      background-size: 0%;
      background: url('../img/products/products-hero-server.png') 50% 50% no-repeat;
      background: url('../img/products/products-hero-server.svg') 50% 50% no-repeat, none;
      left: 367px;
      top: 425px;
    }

    .products-hero-cloud {
      -moz-animation-delay: 2.3s;
      -webkit-animation-delay: 2.3s;
      animation-delay: 2.3s;
      background-size: 0%;
      background: url('../img/products/products-hero-cloud.png') 50% 50% no-repeat;
      background: url('../img/products/products-hero-cloud.svg') 50% 50% no-repeat, none;
      left: 240px;
      top: 372px;
    }

    .products-hero-line-1,
    .products-hero-line-2,
    .products-hero-line-3,
    .products-hero-line-4,
    .products-hero-line-5 {
      -moz-animation: fadeIn 0.3s linear forwards;
      -webkit-animation: fadeIn 0.3s linear forwards;
      animation: fadeIn .3s linear forwards;
      opacity: 0;
      position: absolute;
    }

    .products-hero-line-1 {
      animation-delay: 1.85s;
      background: url('../img/products/products-hero-line-vertical.png');
      height: 52px;
      left: 399px;
      top: 147px;
      width: 2px;
    }

    .products-hero-line-2 {
      -moz-animation-delay: 2s;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
      background: url('../img/products/products-hero-line-diagonal.png');
      height: 38px;
      left: 455px;
      top: 185px;
      width: 38px;
    }

    .products-hero-line-3 {
      -moz-animation-delay: 2.15s;
      -webkit-animation-delay: 2.15s;
      animation-delay: 2.15s;
      background: url('../img/products/products-hero-line-horizontal.png');
      height: 2px;
      left: 479px;
      top: 277px;
      width: 52px;
    }

    .products-hero-line-4 {
      -moz-animation-delay: 2.3s;
      -webkit-animation-delay: 2.3s;
      animation-delay: 2.3s;
      background: url('../img/products/products-hero-line-vertical.png');
      height: 52px;
      left: 399px;
      top: 357px;
      width: 2px;
    }

    .products-hero-line-5 {
      -moz-animation-delay: 2.45s;
      -webkit-animation-delay: 2.45s;
      animation-delay: 2.45s;
      background: url('../img/products/products-hero-line-diagonal.png');
      height: 38px;
      left: 307px;
      top: 333px;
      width: 38px;
    }
  }

}

// Large / Desktop viewport
@media only screen and (min-width : 984px) {
  body.products {

    #main-content .row-hero .inner-wrapper {
      background-size: auto;
    }

    .row-hero {
      margin-top: 0;
      padding: 40px 40px 50px;
    }

    .juju-connected {
      margin-bottom: 0;
      margin-top: 0;

      .inner-wrapper {
        overflow: visible;
      }

      img {
        margin-left: -10px;
      }
    }
  }
}
