.services {
  .row-management.strip-light {
    background: url('https://assets.ubuntu.com/v1/33e29b2d-services-hero-small.jpg') no-repeat center right;
    background-size: cover;
    box-shadow: inset 0  4px 6px -4px rgba(0, 0, 0, .4), inset 0 -4px 6px -4px rgba(0, 0, 0, .4);
    height: 200px;
  }
}

// Medium / Tablet viewport
@media only screen and (min-width : 768px) {
  .services {
    .row-management.strip-light {
      background-image: url('https://assets.ubuntu.com/v1/2026cb62-services-hero-medium.jpg');
      height: 350px;
    }
  }
}

// Large / Desktop viewport
@media only screen and (min-width : 984px) {
  .services {
    .row-management.strip-light {
      background: $black url('https://assets.ubuntu.com/v1/62cd626e-services-hero.jpg') 50% 50% no-repeat;
      height: 550px;
    }

    .row-management .six-col {
      padding-bottom: 40px;
      padding-left: 40px;
      padding-top: 60px;
    }
  }
}
