{% extends "contact/base_contact.html" %}

{% block title %}How to contact Canonical{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block extra_body_class %}contact-home{% endblock %}

{% block content %}
<div class="row row-hero no-border">
<div class="inner-wrapper">
	<div class="intro-content six-col">
		<h1>Contact Canonical</h1>
		<p class="intro">If you are looking for professional support, press information, consulting or want to become a partner, get in touch.</p> 
	</div>
</div>
</div>
<div class="row row-contextual-footer">
<div class="inner-wrapper">
	<ul class="no-bullets vertical-divider equal-height">
		<li class="four-col">
			<h2>Sales</h2>
			<p>Contact the sales team for enquiries about Ubuntu Advantage and Landscape, consulting or engineering services.</p>
		</li>
		<li class="four-col">
			<h2>Press</h2>
			<p>Media or analysts seeking press information or interviews should email pr@canonical.com. </p>
		</li>
		<li class="four-col last-col">
			<h2>Partners</h2>
			<p>Contact the OEM services team and partner team to learn about working with Canonical.</p>
		</li>
	</ul>
</div>
</div>

{% endblock content %}