{% extends "_base/base.html" %}

{% block title %}404 not found | Canonical | The company behind Ubuntu{% endblock %}
{% block meta_description %}Canonical produces Ubuntu, provides commercial services for Ubuntu’s users, and works with hardware manufacturers, software vendors and cloud partners to certify Ubuntu. {% endblock %}

{% block extra_body_class %}error404{% endblock %}

{% block header %}
<div class="row no-border hero-box">
  <div class="inner-wrapper">
    <div class="six-col">
      <img src="{{ ASSET_SERVER_URL }}18907710-image-404.svg" alt="Error owl" />
    </div>
    <div class="six-col">
      <h1>404: Page not found</h1>
      <p class="intro">Sorry, we can't find the page you're looking for.</p>
      <p>If you think this is an error on our site, please <a href="https://github.com/ubuntudesign/www.canonical.com/issues/new" class="external">file a bug</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
