
<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" dir="ltr"> <!--<![endif]-->
<head>

<title>500 server error | Canonical | The company behind Ubuntu</title>

<meta charset="UTF-8" />
<meta name="description" content="Canonical produces Ubuntu, provides commercial services for Ubuntu’s users, and works with hardware manufacturers, software vendors and cloud partners to certify Ubuntu. " />
<meta name="keywords" content="Canonical, Ubuntu, open source, free, software, FOSS, Linux, operating system, cloud, phone, smartphone, mobile, tablet, convergence, cross-platform, desktop, server, services, commercial, support, certify, certified, certification, consumer, business, enterprise, government, non-profit" />
<meta name="author" content="Canonical" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=8">
<![endif]-->

<link rel="shortcut icon" href="{{ ASSET_SERVER_URL }}0843d517-favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ ASSET_SERVER_URL }}9864667f-apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ ASSET_SERVER_URL }}f2ddbdc6-apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ ASSET_SERVER_URL }}f193fb82-apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="{{ ASSET_SERVER_URL }}205d458b-apple-touch-icon-precomposed.png">

<link type="text/plain" rel="author" href="/static/files/humans.txt" />

<!-- google fonts -->
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic|Ubuntu+Mono' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_SERVER_URL }}5ff660b1-global-responsive.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />
<link rel="stylesheet" type="text/css" media="print" href="/static/css/core-print.css" />

<!--[if lte IE 8]>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ie/ie7.css" />
<![endif]-->

<!-- modernizr -->
<script src="/static/js/plugins/modernizr.2.7.1.js"></script>



</head>

<body class="  error500" itemscope itemtype="http://schema.org/Product">

<header class="banner global" role="banner">

	<nav role="navigation" class="nav-primary nav-right" id="nav">
        <span id="main-navigation-link"><a href="#main-navigation">Jump to site nav</a></span>
		<div class="logo">
			<a href="/">
				<img width="139" height="19" src="{{ ASSET_SERVER_URL }}28af8f85-footer_logo.png" alt="Canonical logo for print" />
			</a>
		</div>
		<ul>
			<li class="accessibility-aid"><a accesskey="s" href="#main-content">Jump to content</a></li>
			<li><a class="first" href="/products">Products</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/partners">Partners</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/careers">Careers</a></li>
		</ul>
	</nav>
    <div class="nav-toggle">
        <a href="#nav" class="nav-toggle__link open"></a>
        <a href="#" class="nav-toggle__link close"></a>
    </div>

</header>
<div class="wrapper">
<div id="main-content">



<div class="row no-border hero-box">
	<div class="inner-wrapper">
		<div class="six-col">
			<img src="{{ ASSET_SERVER_URL }}18907710-image-404.svg" alt="Error owl" />
		</div>
		<div class="six-col last-col">
			<h1>500: Server error</h1>
			<p class="intro">Something went wrong on our end.</p>
			<p>If you have the time, please help us out by <a href="https://bugs.launchpad.net/canonical-website-content/+filebug">filing a bug</a>.</p>
		</div>
	</div>
</div>





</div><!-- /.inner-wrapper -->

</div><!-- /.wrapper -->


<footer class="row strip footer no-padding-bottom">
    <div class="inner-wrapper">
        <nav role="navigation">
            <div class="canonlist four-col footer__container--guttered clearfix">
                <h2 class="footer__heading">Canonical</h2>
                <ul class="compact-nav">


                    <li class="compact-nav__list-item">
                        <a href="/products" class="compact-nav__link">Products</a>
                    </li>


                    <li class="compact-nav__list-item">
                        <a href="/projects" class="compact-nav__link">Projects</a>
                    </li>


                    <li class="compact-nav__list-item">
                        <a href="/services" class="compact-nav__link">Services</a>
                    </li>


                    <li class="compact-nav__list-item">
                        <a href="/partners" class="compact-nav__link">Partners</a>
                    </li>


                    <li class="compact-nav__list-item">
                        <a href="/about" class="compact-nav__link">About</a>
                    </li>


                    <li class="compact-nav__list-item">
                        <a href="/careers" class="compact-nav__link">Careers</a>
                    </li>

            </div>
            <div class="five-col footer__container--guttered">
                <h2 class="footer__heading">Follow us</h2>
                <ul class="social-links">
                    <li class="social-links__item">
                        <a class="social-links__link--twitter"  href="https://twitter.com/Canonical">@canonical on Twitter</a>
                    </li>
                    <li class="social-links__item">
                        <a class="social-links__link--google"  href="https://plus.google.com/116469902245452284818/posts">Canonical on Google+</a>
                    </li>
                    <li class="social-links__item">
                        <a class="social-links__link--facebook" href="https://www.facebook.com/pages/Canonical/125818784107695?fref=ts">Canonical on Facebook</a>
                    </li>
                    <li class="social-links__item">
                        <a class="social-links__link--canonical"  href="http://blog.canonical.com">Canonical blog</a>
                    </li>
                </ul>
            </div>
            <div class="three-col last-col toggle-menu">
                <h2 class="footer__heading--external find-out-more toggle-menu__button">Find out more</h2>
                <ul class="external-link-list toggle-menu__content">
                    <li class="external-link-list__list-item toggle-menu__list-item">
                        <a class="external-link-list__link" href="https://www.ubuntu.com">Ubuntu</a>
                    </li>
                    <li class="external-link-list__list-item toggle-menu__list-item">
                        <a class="external-link-list__link" href="https://www.ubuntu.com/management/ubuntu-advantage">Ubuntu Advantage</a>
                    </li>
                    <li class="external-link-list__list-item toggle-menu__list-item">
                        <a class="external-link-list__link" href="https://www.ubuntu.com/partners">Partnerships</a>
                    </li>
                    <li class="external-link-list__list-item toggle-menu__list-item">
                        <a class="external-link-list__link" href="http://insights.ubuntu.com">Press and resources</a>
                    </li>
                </ul>
            </div>
            <div class="global-footer-wrapper"></div>
        </nav>
        <div class="legal twelve-col footer__container--guttered">
            <p class="legal__text">&copy; 2016 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
            <ul class="legal__list">
                <li class="legal__list-item">
                    <a class="legal__link" href="https://www.ubuntu.com/legal">Legal information</a>
                </li>
                <li class="legal__list-item">
                    <a class="legal__link" href="https://bugs.launchpad.net/canonical-website-content/+filebug">Report a bug on this site</a>
                </li>
            </ul>
            <span class="accessibility-aid"><a href="#">Go to the top of the page</a></span>
        </div>
    </div>
</footer>



<script>
	var isOperaMini = (navigator.userAgent.indexOf('Opera Mini') > -1);
	if(isOperaMini) {
		var root = document.documentElement;
		root.className += " opera-mini";
	}
</script>

<script>
	if(!core){ var core = {}; }
	core.globalPrepend = 'body';
</script>

<!--[if gte IE 9]><!-->
<script src="{{ ASSET_SERVER_URL }}5b54324c-global.js"></script>
<script src="{{ STATIC_URL }}js/polyfills.js"></script>
<script src="{{ STATIC_URL }}js/utilities.js"></script>
<script src="{{ STATIC_URL }}js/core.js"></script>

<script>
  // Setup global nav
  var globalNav = document.querySelector('#nav-global');
  core.setupGlobalNav(globalNav);
  core.positionGlobalNav(globalNav);
  window.addEventListener('resize', function() {core.positionGlobalNav(globalNav);});

  // Setup toggle menus
  document.querySelectorAll('.toggle-menu__button').forEach(core.toggleSibling);

  // Every page should show the cookie policy until accepted
  core.cookiePolicy();
</script>
<!--<![endif]-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1018242-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


</body>
</html>
