{% extends "base_index.html" %}

{% block title %}Canonical | The company behind Ubuntu{% endblock %}
{% block meta_description %}Canonical produces Ubuntu, provides commercial services for Ubuntu’s users, and works with hardware manufacturers, software vendors and cloud partners to certify Ubuntu. {% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, open source, free, software, FOSS, Linux, operating system, cloud, phone, smartphone, mobile, tablet, convergence, cross-platform, desktop, server, services, commercial, support, certify, certified, certification, consumer, business, enterprise, government, non-profit{% endblock %}

{% block extra_body_class %}home{% endblock %}

{% block content %}
<div class="row row-hero strip-dark solid intro-row">
	<div class="inner-wrapper">
		<div class="six-col">
			<h1>We are Canonical</h1>
			<p class="intro">It is our mission to make open source software available to people everywhere. We believe the best way to fuel innovation is to give the innovators the technology they&nbsp;need.</p>
			<p class="intro"><a href="/about">About Canonical &rsaquo;</a></p>
		</div>
		<div class="six-col last-col">
			<img src="{{ ASSET_SERVER_URL }}15b74eb1-image-technology-for-innovators.png" class="static" alt="" />
			<div class="animation run">
				<img src="{{ ASSET_SERVER_URL }}7310840a-animation-text.png" alt="" class="text" />
				<div class="dot-1"></div>
				<div class="dot-2"></div>
				<img src="{{ ASSET_SERVER_URL }}699209c4-orange-light.png" alt="" class="light" />
				<img src="{{ ASSET_SERVER_URL }}24cce353-bulb.png" alt="" class="bulb" />
				<div class="background"></div>
			</div>
		</div>
	</div>
</div>

<div class="row strip-light ubuntu-row">
	<div class="inner-wrapper">
		<div class="six-col">
			<h2>We deliver <span class="ubuntu-logo">Ubuntu</span></h2>
			<p>At the heart of everything we do is Ubuntu, an open source software platform that runs everywhere from the Internet of Things to the cloud. Our services ensure that it is certified for use on devices, PCs, servers and cloud infrastructure &mdash; public or&nbsp;private.</p>
			<p>On ubuntu.com, you&rsquo;ll find detailed information about the platform and its features, our services and management tools, plus details about our partner and certification&nbsp;programs.</p>
			<p><a href="https://www.ubuntu.com" class="external">Learn more at ubuntu.com</a></p>
		</div>
	</div>
</div>

<div class="row service-row">
	<div class="inner-wrapper">
		<div class="six-col image"></div>
		<div class="six-col last-col">
			<h2>We help organisations make the most of Ubuntu</h2>
			<p>Leading organisations all over the world turn to us for our services and expertise – from systems management to the deployment of Ubuntu on their own clouds, servers and&nbsp;desktops. </p>
			<p><a href="/services">Canonical services &rsaquo;</a></p>
		</div>
	</div>
</div><!-- /.row -->

<div class="row partner-row row-partner strip-light">
<i class="fade"></i>
	<div class="inner-wrapper">
		<div class="five-col no-margin-bottom">
			<h2>We help partners take Ubuntu to market</h2>
			<p>We partner with the biggest names in hardware, software and on the cloud to help them optimise, extend and deliver Ubuntu at&nbsp;scale.</p>
			<p><a href="/partners">Canonical partners &rsaquo;</a></p>
		</div>
	</div>
</div><!-- /.row -->

<div class="row strip-light careers-row">
	<div class="inner-wrapper">
		<div class="six-col priority-0">
			<img src="{{ ASSET_SERVER_URL }}1e154e0e-image-careers.png" alt="" />
		</div>
		<div class="six-col last-col">
			<h2>We need big thinkers like you</h2>
			<p>Whether you&rsquo;re a developer, a designer or a business professional, if you want your work to change the world, you’ve come to the right place. </p>
			<p><a href="/careers">Careers at Canonical &rsaquo;</a></p>
		</div>
	</div>
</div>
{% endblock %}
