<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" dir="ltr"> <!--<![endif]-->
<head>

<title>{% block title %}{% endblock %}</title>

<meta charset="UTF-8" />
<meta name="description" content="{% block meta_description %}Canonical provides engineering, online and professional services to Ubuntu partners and customers worldwide. As the company behind the Ubuntu project, Canonical is committed to the production and support of Ubuntu – an ever-popular and fast-growing open-source operating system. It aims to ensure Ubuntu is available to every organisation and individual on servers, desktops, laptops and netbooks.{% endblock %}" />
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
<meta name="author" content="Canonical" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=8">
<![endif]-->

<link rel="shortcut icon" href="{{ ASSET_SERVER_URL }}0843d517-favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ ASSET_SERVER_URL }}9864667f-apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ ASSET_SERVER_URL }}f2ddbdc6-apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ ASSET_SERVER_URL }}f193fb82-apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="{{ ASSET_SERVER_URL }}205d458b-apple-touch-icon-precomposed.png">

<link type="text/plain" rel="author" href="{{ STATIC_URL }}files/humans.txt" />

<!-- google fonts -->
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic|Ubuntu+Mono' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_SERVER_URL }}5ff660b1-global-responsive.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/styles.css" />
<link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}css/core-print.css" />

<!--[if lte IE 8]>
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/ie/ie7.css" />
<![endif]-->

<!-- modernizr -->
<script src="{{ STATIC_URL }}js/plugins/modernizr.2.7.1.js"></script>

{% block head_extra %}{% endblock %}

</head>

<body class="{% if level_1 != "" %}{% if level_1 == '2012' %}body-{% endif %}{{ level_1 }}{% endif %}{% if level_2 %} {% if level_1 == '2012' %}body-{% endif %}{{ level_1 }}-{{ level_2 }}{% endif %}{% if level_3 %} {% if level_1 == '2012' %}body-{% endif %}{{ level_1 }}-{{ level_2 }}-{{ level_3 }} {% endif %} {% include "_base/body-class.html" %}{% if extra_body_class != "" %} {% block extra_body_class %}{% endblock %}{% endif %}" itemscope itemtype="http://schema.org/Product">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K92JCQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K92JCQ');</script>
<!-- End Google Tag Manager -->

<header class="banner global" role="banner">
{% block header_banner %}
    <nav role="navigation" class="nav-primary nav-right" id="nav">
        <span id="main-navigation-link"><a href="#main-navigation">Jump to site nav</a></span>
        <div class="logo">
            <a href="/">
                <img width="139" height="19" src="{{ ASSET_SERVER_URL }}28af8f85-footer_logo.png" alt="Canonical logo for print" />
            </a>
        </div>
        <ul>
            <li class="accessibility-aid"><a accesskey="s" href="#main-content">Jump to content</a></li>
            <li><a class="first{% if level_1 == 'products' %} active{% endif %}" href="/products">Products</a></li>
            <li><a{% if level_1 == 'services' %} class="active"{% endif %} href="/services">Services</a></li>
            <li><a{% if level_1 == 'partners' %} class="active"{% endif %} href="/partners">Partners</a></li>
            <li><a{% if level_1 == 'about' %} class="active"{% endif %} href="/about">About</a></li>
            <li><a{% if level_1 == 'careers' %} class="active"{% endif %} href="/careers">Careers</a></li>
        </ul>
    </nav>
    <div class="nav-toggle">
        <a href="#nav" class="nav-toggle__link open"></a>
        <a href="#" class="nav-toggle__link close"></a>
    </div>
{% endblock header_banner %}
</header>
<div class="wrapper">
<div id="main-content">
{% if level_1 %}
{% block second_level_nav %}
{% endblock second_level_nav %}
{% endif %}

{% block header %}{% endblock %}
{% block content_container %}
{% block outer_content %}
{% endblock outer_content %}
{% endblock content_container %}
</div><!-- /.inner-wrapper -->

</div><!-- /.wrapper -->

{% include "_base/footer.html" %}

<script>
  var isOperaMini = (navigator.userAgent.indexOf('Opera Mini') > -1);
  if(isOperaMini) {
    var root = document.documentElement;
    root.className += " opera-mini";
  }
</script>

<script src="{{ ASSET_SERVER_URL }}6124a084-yui-min.js"></script>
<script>
  if(!core){ var core = {}; }
  core.globalPrepend = 'body';
</script>

<!--[if gte IE 9]><!-->
<script src="{{ ASSET_SERVER_URL }}bdd03093-global.js"></script>
<script src="{{ STATIC_URL }}js/scratch.js"></script>
<!--<![endif]-->

{% block footer_extra %}{% endblock %}
</body>
</html>
<!-- comment added: 2016-02-23 13:00 -->
