{% block footer %}
<footer class="p-footer" role="contentinfo">
  <div class="row">
    <ul class="p-inline-list">
      <li class="p-inline-list__item">
        <a class="p-button--neutral is-compact" href="https://www.ubuntu.com/contact-us"><small>Contact us</small></a>
      </li>
    </ul>
    <p class="u-no-max-width">&copy; {% now "Y" %} Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
    <nav class="p-footer__nav" role="navigation">
      <ul class="p-footer__links">
        <li class="p-footer__item">
          <a class="p-footer__link" href="https://www.ubuntu.com/legal">Legal information</a>
        </li>
        <li class="p-footer__item">
          <a class="p-footer__link" href="https://www.ubuntu.com/legal/data-privacy">Data privacy</a>
        </li>
        <li class="p-footer__item">
          <a id="report-a-bug" class="p-footer__link" href="https://github.com/canonical-websites/www.canonical.com/issues/new">Report a bug on this site</a>
        </li>
      </ul>
      <span class="u-off-screen">
        <a href="#">Go to the top of the page</a>
      </span>
    </nav>
  </div>
</footer>
<script>
  /* Add the page to the report a bug link */
  var bugLink = document.querySelector('#report-a-bug');
  bugLink.href += '?body=%0a%0a%0a---%0a*Reported%20from:%20' + location.href + '*';
</script>

{% endblock footer %}
