{% block footer %}
<div class="footer-wrapper strip-light">
<footer class="global clearfix">
<nav role="navigation">
	<div class="row">
		<div id="canonlist" class="canonlist four-col">
			<h2>Canonical</h2>
			<ul>
				{% if level_1 %}<li><a href="/">Home</a></li>{% endif %}
				{% if level_1 != 'products' %}<li><a href="/products">Products</a></li>{% endif %}
				{% if level_1 != 'projects' %}<li><a href="/projects">Projects</a></li>{% endif %}
				{% if level_1 != 'services' %}<li><a href="/services">Services</a></li>{% endif %}
				{% if level_1 != 'partners' %}<li><a href="/partners">Partners</a></li>{% endif %}
				{% if level_1 != 'about' %}<li><a href="/about">About</a></li>{% endif %}
				{% if level_1 != 'careers' %}<li><a href="/careers">Careers</a></li>{% endif %}
			</ul>
		</div>
		<div class="five-col">
			<h2>Follow us</h2>
			<ul class="list-social">
				<li><a id="item-twitter" href="https://twitter.com/Canonical">@canonical on Twitter</a></li>
				<li><a id="item-google" href="https://plus.google.com/116469902245452284818/posts">Canonical on Google+</a></li>
				<li><a id="item-facebook" href="https://www.facebook.com/pages/Canonical/125818784107695?fref=ts">Canonical on Facebook</a></li>
				<li><a id="item-canonical" href="http://blog.canonical.com">Canonical blog</a></li>
			</ul>
		</div>
		<div id="additional-info" class="three-col last-col">
			<h2>Find out more</h2>
			<div>
			<ul>
				<li><a href="http://www.ubuntu.com">Ubuntu</a></li>
				<li><a href="http://www.ubuntu.com/management/ubuntu-advantage">Ubuntu Advantage</a></li>
				<li><a href="http://www.ubuntu.com/partners">Partnerships</a></li>
				<li><a href="http://insights.ubuntu.com">Press and resources</a></li>
			</ul>
			</div>
		</div>
	</div>
</nav>
<div class="legal clearfix">
	<div class="legal-inner">
		<p class="twelve-col">&copy; {% now "Y" %} Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
		<ul class="inline clear">
			<li><a href="http://www.ubuntu.com/legal">Legal information</a></li>
			<li><a href="https://bugs.launchpad.net/canonical-website-content/+filebug">Report a bug on this site</a></li>
		</ul>
		<span class="accessibility-aid"><a href="#">Got to the top of the page</a></span>
	</div>
</div><!-- /.legal -->
</footer>
</div>
{% endblock footer %}
