{% extends "partners/base_partners.html" %}

{% block title %}Canonical | Partners{% endblock %}
{% block meta_description %}Canonical works with the technology world’s biggest names to support Ubuntu. Its partner programmes include hardware manufacturers, silicon vendors, software developers and cloud providers. {% endblock %}

{% block content %}
<div class="row row-hero">
  <div class="inner-wrapper">
    <h1 class="twelve-col">We partner with industry leaders</h1>
    <div class="nine-col">
      <p class="intro">At Canonical, we provide the services our partners need to ensure their hardware and software works optimally with the Ubuntu platform. This means working with OEMs, ODMs, ISVs and IHVs, delivering the software and services to complement their core competencies in design, manufacture and distribution. We help our partners deliver their products without the cost and complexity of operating system development, software engineering or global content distribution agreements.</p>
      <p class="intro"><a href="http://partners.ubuntu.com" class="external">Learn more on partners.ubuntu.com</a></p>
    </div>
  </div>
</div><!-- /.row -->

<div class="row row-management strip-light"><div></div></div><!-- /.row -->

<div class="row row-cloud strip-light">
  <div class="inner-wrapper">
    <div class="nine-col">
      <h2>Ubuntu in the cloud</h2>
      <p>Ubuntu has been involved in OpenStack since the project began. It is now the world&rsquo;s most popular choice of operating system for production OpenStack clouds, with over 60% of deployments running Ubuntu.</p>
      <p>Building a cloud is not a &ldquo;one size fits all&rdquo; endeavour. Telcos and enterprises deploying OpenStack want to select technology components which meet their architecture and procurement requirements. We work with the leading cloud technology providers to ensure that their hardware and software is compatible with Ubuntu and OpenStack, thereby creating the most reliable and agile cloud architecture for users. </p>
      <p>We also certify Ubuntu as a guest OS on public clouds. Our Certified Public Cloud program gives public cloud providers an optimised Ubuntu image to offer on their platforms, and includes options for Canonical support agreements for the cloud users. It&rsquo;s a complete package which provides a consistent, reliable Ubuntu experience to public cloud users.</p>
      <p><a href="http://partners.ubuntu.com/find-a-partner?Technology=Cloud/server" class="external">Browse all cloud partners</a></p>
    </div>
    <div class="three-col last-col text-center">
      <img src="{{ ASSET_SERVER_URL }}845e046c-partner-openstack.png?w=250" alt="" />
    </div>
  </div><!-- /.row -->
</div>

<div class="row row-companies">
  <div class="inner-wrapper">
    <div class="panel panel--alt twelve-col">
      <h2 class="muted-heading">A selection of our cloud partners</h2>
      {% get_json_feed "http://partners.ubuntu.com/partners.json?technology__name=Cloud/server&featured=true" limit=10 as cloud_partners %}
      <ul class="inline-logos no-bullets clear list-auto" id="cloud-logos">
        {% for partner in cloud_partners %}
        <li><img onload="this.style.opacity='1';" src="{{ partner.logo }}" alt="{{ partner.name }}"></li>
        {% endfor %}
      </ul>
      <p class="align-center"><a href="http://partners.ubuntu.com/find-a-partner?technology=cloud/server" class="external">Browse all cloud partners</a></p>
    </div>
  </div>
</div><!-- /.row -->

<div class="row row-client strip-light">
  <div class="inner-wrapper">
    <h2 class="twelve-col">Ubuntu IoT devices</h2>
    <div class="six-col">
      <p>Ubuntu is used on 100,000s of advertising screens and on robots across hospitality, retail and mining industries worldwide. Canonical collaborates with semiconductor and device manufacturers, making Ubuntu the number one platform for robotics and self-driving cars. Canonical also partners with device manufacturers across their product lifecycle: product concept, integration, development, ecosystem building and monetisation.</p>
    </div>
    <div class="six-col last-col">
      <img src="{{ ASSET_SERVER_URL }}808a4e5b-aerolion-drone.png" alt="" />
    </div>
  </div>
  <div class="inner-wrapper">
    <h2 class="six-col prepend-six">Ubuntu on the PC</h2>
    <div class="six-col priority-0">
      <img src="{{ ASSET_SERVER_URL }}abd6307b-image-laptop.png" alt="" />
    </div>
    <div class="six-col last-col">
      <p>Canonical has a large, experienced OEM engagement team that has been closely involved with hardware makers like Dell, HP and Lenovo for many years. We provide a complete, end-to-end device delivery solution on Intel, AMD or ARM silicon, helping our partners identify market opportunities and deliver to market on time and on budget. Thanks to Canonical&rsquo;s hardware enablement partnerships, Ubuntu is now pre-installed on industrial PCs, thin clients, laptops and desktops from the world&rsquo;s top brands in all major global markets.</p>
      <p><a href="http://partners.ubuntu.com/find-a-partner?programme=technical-partner-programme" class="external">See all our hardware partners</a></p>
    </div>
  </div><!-- /.row -->
</div>

<div class="row row-companies">
  <div class="inner-wrapper">
    <div class="panel panel--alt twelve-col">
      <h2 class="muted-heading">A selection of our IoT device and PC partners</h2>
      {% get_json_feed "http://partners.ubuntu.com/partners.json?programme__name=Technical Partner Programme" limit=10 as client_partners %}
      <ul class="inline-logos no-bullets clear list-auto" id="client-logos">
        {% for partner in client_partners %}
        <li><img onload="this.style.opacity='1';" src="{{ partner.logo }}" alt="{{ partner.name }}"></li>
        {% endfor %}
      </ul>
      <p class="align-center"><a href="http://partners.ubuntu.com/find-a-partner?technology=personal-computing/devices" class="external align-center">Browse all IoT device and PC partners</a></p>
    </div>
  </div>
</div><!-- /.row -->

<div class="row row-partners strip-dark">
  <div class="inner-wrapper">
    <div class="seven-col">
      <h2>How we work with our partners</h2>
      <p>By formalising their partnership with Canonical, hardware makers, ISVs, cloud providers and mobile carriers can realise a wealth of benefits.</p>
      <p><a href="/partners/contact-us">Talk to us about becoming a partner&nbsp;&rsaquo;</a></p>
    </div>

    <ul class="connected-list">
      <li class="six-col">
        <img src="{{ ASSET_SERVER_URL }}6c5962c1-icon-favourite.svg" class="icon" alt="" />
        <p>Certification of products to ensure the quality and consistency of experience.</p>
      </li>
      <li class="six-col last-col">
        <img src="{{ ASSET_SERVER_URL }}0948d424-icon-ubuntu.svg" class="icon" alt="" />
        <p>The opportunity to help shape the world&rsquo;s favourite open source operating system.</p>
      </li>
      <li class="six-col">
        <img src="{{ ASSET_SERVER_URL }}588e9b50-icon-security.svg" class="icon" alt="" />
        <p>Security and critical bug fixes to the base platform offering.</p>
      </li>
      <li class="six-col last-col">
        <img src="{{ ASSET_SERVER_URL }}54f322b7-icon-updates.svg" class="icon" alt="" />
        <p>Infrastructure to support your update management strategy.</p>
      </li>
      <li class="six-col">
        <img src="{{ ASSET_SERVER_URL }}593b4741-icon-money.svg" class="icon" alt="" />
        <p>Third party licence fees  and subscriptions, royalty collection fees and regulatory broadcast fees.</p>
      </li>
      <li class="six-col last-col">
        <img src="{{ ASSET_SERVER_URL }}a0ed0aa0-icon-engineering.svg" class="icon" alt="" />
        <p>Custom engineering covering component and system enablement, certification and platform customisation.</p>
      </li>
    </ul>
  </div>
</div><!-- /.row -->

<div class="row row-contextual-footer">
  <div class="inner-wrapper vertical-divider">
    <div class="featured six-col">
      <h3><a href="/partners/contact-us">Contact us about becoming a partner&nbsp;&rsaquo;</a></h3>
      <p>Interested in becoming a partner? Talk to us today for more information about our services and certification.</p>
    </div>
    <div class="three-col">
      <h3><a href="http://partners.ubuntu.com" class="external">Learn more about partners</a></h3>
      <p>On our <a href="http://partners.ubuntu.com" class="external">partners website</a>, you'll find more information about hardware, software, cloud and reseller partners.</p>
    </div>
    <div class="three-col last-col">
      <h3><a href="/services/contact-us">Contact us about Ubuntu Advantage&nbsp;&rsaquo;</a></h3>
      <p>Interested in Ubuntu Advantage? Talk to us about our management services and consultancy.</p>
    </div>
  </div>
</div>
{% endblock content %}
