{% extends "services/base_services.html" %}

{% block title %}Contact Canonical | Thank you{% endblock %}

{% block content %}

<section class="p-strip is-deep">
  <div class="row">
    <div class="u-equal-height">
      <div class="col-6">
      <h1>Thank you</h1>
      <p>We&rsquo;re really excited about your interest in partnering with Ubuntu.</p>
      <p>A member of our team will contact you shortly.</p>
      <p>In the mean time you will find more information about <a href="https://www.ubuntu.com/partners/partner-services" class="p-link--external">partner services</a> and listings of our hardware, software, cloud and reseller <a href="https://www.ubuntu.com/partners/find-a-partner" class="p-link--external">partners</a> on ubuntu.com.</p>
    </div>
      <div class="col-6 prefix-2 u-vertically-center">
      <img src="{{ ASSET_SERVER_URL }}582326b1-pictogram-smile-purple.png" width="164" height="162" alt="Smile pictogram" />
    </div>
    </div>
  </div>
</section>

{% endblock content %}