{% extends "services/base_services.html" %}

{% block title %}Contact Canonical | Thank you{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
<div class="row">
<div class="inner-wrapper">
  <h1>Thank you</h1>
  <div class="seven-col">
    <h2>We&rsquo;re really excited about your interest in partnering with Ubuntu.</h2>
    <p>A member of our team will contact you shortly.</p>
    <p>In the mean time you will find more information about <a href="https://www.ubuntu.com/partners/partner-services" class="external">partner services</a> and listings of our hardware, software, cloud and reseller <a href="https://www.ubuntu.com/partners/find-a-partner" class="external">partners</a> on ubuntu.com.</p>
  </div>
  <div class="five-col text-center">
        <img src="{{ ASSET_SERVER_URL }}582326b1-pictogram-smile-purple.png" width="164" height="162" alt="Smile pictogram" />
  </span>
</div>
</div>
{% endblock content %}
