<div class="row equal-height vertical-divider no-border">
	<div class="four-col">
		<h2>Promo 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a href="">Callius et actionet  &rsaquo;</a></p>
	</div>
	
	<div class="four-col">
		<h2>Promo 2</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a href="">Callius et actionet  &rsaquo;</a></p>
	</div>
	
	<div class="four-col">
		<h2>Promo 3</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><a href="">Callius et actionet  &rsaquo;</a></p>
	</div>
</div>